[2019-10-28 18:27] Hartorn opened #3 "Add CI for Git lint"
Add CI to enforce conventional commit : https://www.conventionalcommits.org/en/v1.0.0/

[2019-10-28 18:28] Hartorn opened #4 "Add CI to launch unit test"

[2019-10-28 18:28] Hartorn opened #5 "Add template for PR and issues"

[2019-10-28 18:28] Hartorn opened #6 "Add Changelog, and process for release"

[2019-10-30 15:30] Hartorn opened #8 "Add __str__ and __repr__ method"
Would be good to have STR and repr method

[2019-11-05 09:29] #5 closed

[2019-11-07 14:42] Hartorn opened #28 "Make the model scikit compatible (eg, for grid search)"
## Feature request

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?**
yes

[2019-11-07 19:42] Hartorn opened #29 "Build doc and make it github pages"
## Feature request

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?**
yes

[2019-11-07 19:51] Hartorn opened #31 "Not calling set_params is making model crash (no batch size)"
**Describe the bug**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**

**Screenshots**

**Other relevant information:**
poetry version:
python version:
Operating System:
Additional tools:

**Additional context**

[2019-11-25 10:13] Optimox opened #41 "Make TabNet Scikit Compatible"
## Feature request
Currently, the library can't be used as simply as a scikit model. It would be great to be fully scikit compatible

**What is the expected behavior?**
We need new classes for TabNetRegressor, TabNetClassifier.
We also need to get scikit compatible global explainations.

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your

[2019-11-25 15:51] Optimox commented on #31
The current implementation requires parameters to be explicitely given, with #41 this should be solved.

[2019-11-27 11:51] JackyP commented on #41
This package is really cool. Have you guys considered https://github.com/skorch-dev/skorch? It might have a lot of what you need out of the box.

[2019-11-28 10:17] Optimox commented on #41
Thx @JackyP, did not know about this package I'll have a look!

[2019-12-03 10:08] #41 closed

[2019-12-03 16:04] Optimox opened #45 "Explain to tensor"
## Feature request
Currently output of explain is of tensor format, should be of numpy.

**What is the expected behavior?**
Should be numpy array

**What is motivation or use case for adding/changing the behavior?**

Everyone expects numpy arrays
**How should this be implemented in your opinion?**
.detach().numpy()

**Are you willing to work on this yourself?**
yes

[2019-12-03 16:26] Optimox opened #46 "Improve verbosity"
## Feature request
Currently we are plotting scores at #verbose epoch but we should incorporate call backs or at least history to avoid calling matplotlib each time

**What is the expected behavior?**
Something XGBoost like

**What is motivation or use case for adding/changing the behavior?**
Many

**How should this be implemented in your opinion?**
Not quite sure yet

**Are you willing to work on

[2019-12-04 09:54] Optimox commented on #31
Closing this since #41 solves the problem

[2019-12-04 09:54] #31 closed

[2019-12-04 15:11] Optimox opened #49 "Embedding dims does not work for cat_emb_dim > 1"
**Describe the bug**

**What is the current behavior?**

If you try to set `cat_emb_dim` to a value bigger than 1 you'll get an DimensionError due to explain and embeddings.
**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**

This should work and return sum of importances for embedded dimensions
**Screenshots**

**Other relevant information:**
poetr

[2019-12-05 10:19] eduardocarvp opened #50 "Checkpoints"
## Feature request
Save/load/average checkpoints.

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**
Smarter early stopping and possibly better generalization on predictions.

**How should this be implemented in your opinion?**
Good source of inspiration here: https://github.com/Qwicen/node/blob/master/lib/trainer.py

**Are you willing to work

[2019-12-05 10:20] Optimox commented on #8
closing this since version 1.0.0 includes this

[2019-12-05 10:20] #8 closed

[2019-12-05 10:20] Hartorn commented on #6
Done

[2019-12-05 10:20] #6 closed

[2019-12-05 10:21] Hartorn commented on #28
Done in #42

[2019-12-05 10:21] #28 closed

[2019-12-05 10:21] Optimox commented on #28
version 1.0.0 is scikit compatible

[2019-12-05 14:32] #45 closed

[2019-12-05 14:32] #49 closed

[2020-01-06 22:44] yajiez opened #63 "Weight initialization different from the original paper"
From the experiment section of the TabNet paper:

Also, from the TensorFlow implementation provided by the authors, they used `tf.layers.dense` which seems to use `glorot_uniform` by default.

However, in the `tab_network.py`:

[code]

So my questions are:

1. Why use Glorot normal initialization instead of Glorot uniform initialization as described in the paper?

2. What are the reasons behind th

[2020-01-07 16:02] Optimox commented on #63
Hi @yajiez,

Thanks for pointing this out.
I tried to remember why I used this initialization, I remember reading carefully one of the cited papers and tried to implement their scheme but I can't find it back at the moment.

From the tests I've done, initialization does not matter that much in terms of results but I agree that the current implementation differs from the original paper.

About the

[2020-01-07 16:25] yajiez commented on #63
Hi @Optimox,

Thanks for your reply and explanation.

All make sense and it would be great if you could please post the references here later if you can recall it.

Thanks for sharing your work.

[2020-01-31 11:04] meechos opened #70 "Performance of pytorch-tabnet on forest cover type dataset"
Running out of the box the `forest_example`, the results differ significantly from the ones in the original paper. Specifically, I get the following:

[code]
Do you get similar results? Many thanks.

[2020-02-01 16:25] muellerzr commented on #70
I noticed a similar result with the Poker Hand dataset, I got 54.04%, far from their alleged 99%

[2020-02-03 09:27] meechos commented on #70
Thanks @muellerzr, this is interesting. Have you tried any of the examples from this repository, e.g. `census_example` or the `regression_example`?

[2020-02-03 10:32] Optimox commented on #70
@meechos I did some experiments on Forest Cover Type as the split is given in the paper results should be reproducible. On one hand I tried to launch the official code in tensorflow https://github.com/google-research/google-research/tree/master/tabnet but I never got the results from the paper (after more than 120K steps, on the other hand I had better results with our implementation. The most dis

[2020-02-03 11:17] meechos commented on #70
@Optimox, thanks for a comprehensive reply.

Apologies, do you mean you found results similar to what I posted or similar to the ones in the original paper? Notebooks with outputs would be of help, If you would consider sharing that would be great.

I have run several tests by implementing the original codebase in Tensorflow as well. Results were far worse than XGBoost/LightGBM. More interestingly

[2020-02-03 12:24] Optimox commented on #70
@meechos I think I found the problem, there is an error in the current notebook : what happens is that the classes for the dataset are `clf.classes_ = [1, 2, 3, 4, 5, 6, 7]`, which is ok for TabNetClassifier because target are label encoded

But in the notebook for the test set we do `test_acc = accuracy_score(y_pred=np.argmax(preds, axis=1), y_true=y_true)` which implies that the targets are `[0,

[2020-02-03 18:33] meechos commented on #70
Thanks @Optimox, this is very helpful. I amended the relevant code and found the following:
[code]
That looks reasonable but still in the original paper authors claim performance of `96,99%` in accuracy, which is still far from my findings. Let me know  if you have any feedback on that.

Many thanks again! d

[2020-02-04 13:59] meechos commented on #41
I get the following error when I try to use the TabnetClassifier with RandomizedSearchCV:
[code]
Is this expected? Not sure if models are scikit compatible to this extend. Many thanks!

[2020-02-04 14:53] Optimox commented on #70
@meechos how did you run your experiment? what was the parameters you used?

I launched two experiments:
- launching forest_example as is : valid_accuracy = 0.9445 test_accuracy = 0.9459
- launching forest_example with n_d=n_a=64 (similar to the research paper) : valid_accuracy = 0.9629 test_accuracy = 0.9639

So it's not exactly the same results as written in the paper (0.9699) but it's pretty cl

[2020-02-05 16:35] meechos commented on #70
@Optimo,  there must be something we do differently. I am using the `forest_example.ipynb` with parameters:

[code]
I have launched two experiments with the `1.0.1` and recent `1.0.2` versions, and got:

| pytorch-tabnet version 	| test acc 	|
|----------------	|----------	|
| 1.0.1          	| 0.886    	|
| 1.0.2          	| 0.750     	|

Are you running the exact same notebook? Are you using a G

[2020-02-06 04:05] mgrankin opened #75 "device in torch.nn.Module"
Hello and thank you for your great work!

What was the idea behind passing `device` parameter to the constructor of `nn.Module` and storing it? I've never seen that pattern before in Pytorch.

[2020-02-06 12:41] Optimox commented on #70
hey @meechos, the two results I got was with pytorch-tabnet 1.0.1 (I think there is a bug on 1.0.2 that I need to fix, I'm on it) using CPU and launching the notebook without any changes. Did you change the patience? My models training for more than 900 epochs.

However when switching to GPU I saw a weird behavior, the model early stopped after around 300 epochs at a score around 0.94 (for the lar

[2020-02-06 13:37] Optimox commented on #46
done

[2020-02-06 13:37] #46 closed

[2020-02-06 14:14] meechos commented on #70
Hello @Optimox, thanks so much for working on the `1.0.2`. The performance decrease in `1.0.2` was reproduced in my own datasets so I am sure it's worth the debug.

I have just `pip installed` the package, nothing breaks though. Would there be further configurations? Sorry if I missed that.

I am running experiments on` 2 x Tesla`. Definitely not ideal for reproducibility checks but I think the
 F

[2020-02-06 15:44] Optimox commented on #70
I've seen drops with GPU but not as big as you describe, you might want to launch the default notebook and simply add `device_name='cpu'` when calling TabNet Classifier and see what happens. I don't think the code handle multi-gpu, is it?

[2020-02-06 15:46] Hartorn commented on #70
Hello @meechos,
I just re-runned the forest_example.ipynb on GPU, and got 0.93805224058811 for valid and 0.9396401125616378 for test for version 1.0.1

[2020-02-06 18:22] meechos commented on #70
Thanks for confirming again @Optimox . Re-run an experiment on google colab with a GPU and got
[code]

Running a new experiment on CPU and report back, this is very interesting.

[2020-02-07 02:46] carefree0910 commented on #70
I've encountered the similar performance issue but the situation seems to be worse. Here are my setup procedures:
1) `pip install pytorch-tabnet`, which is `v1.0.2`
2) **ONLY** downloaded `forest_example.ipynb`, from the `develop` branch, and run it through

And here are the

1) results for tabnet:

Device used : cuda

Current learning rate:  0.011376001845529194
| 238   | 0.87303 |  0.55215 |   4

[2020-02-07 10:02] Optimox commented on #70
@carefree0910 yep we have a fix that is working just doing some tests before releasing it, so in order to have the results for TabNet you'll have to wait a few hours sorry!

about XGBoost, I think I forgot to change in the notebook, simply do `accuracy_score(y_pred=np.argmax(preds, axis=1)+1, y_true=y_true)` and you'll get the real results

[2020-02-07 10:14] carefree0910 commented on #70
Thanks for your reply! I'll wait for the release. And thanks again for implementing this interesting work!

[2020-02-07 10:45] Optimox commented on #70
That is really weird, I'm trying to understand ^^
Also it seems that your validation score is exactly the same as the one you gave with your first message, it seems weird that the GPU seed would change at all, are you sure the gpu is recognized? When defining `TabNetClassifier` do you see a message saying "Deviced used cuda"?

Moreover in your first message you reported : `BEST VALID SCORE FOR EPI

[2020-02-07 11:58] meechos commented on #70
Yes, also monitored with nvidia-smi.

Exactly my thoughts, as in the first experiments had to download the data manually due to policy. This is why I run the notebook on colab, but interestingly saw the exact same results as you mention above.

@Optimox this is indeed really weird. Have you tried `pip`ing the repo into a new environment fetching the data from scratch?

I can share the colab notebo

[2020-02-07 16:58] Optimox commented on #70
@meechos @carefree0910 new version has been updated to Pypi so you can pip install the latest version and try again, hopefully everything is fixed now!

[2020-02-07 17:03] carefree0910 commented on #70
Great! I'll try it out in no time!

[2020-02-08 00:51] carefree0910 commented on #70
It works like a charm now with v1.0.3, the results I've got are:

BEST VALID SCORE FOR forest-cover-type : -0.9637142838702182
FINAL TEST SCORE FOR forest-cover-type : 0.963847749197525

Thanks for the quick replies and quick fixes!

[2020-02-08 09:46] mgrankin commented on #75
I've removed `device` in the code here
https://github.com/mgrankin/fast_tabnet/blob/master/02_tab_network.ipynb

[2020-02-08 14:11] eduardocarvp commented on #70
Thanks for testing, @carefree0910 !

Have you obtained these results on CPU or GPU?

[2020-02-08 14:32] carefree0910 commented on #70
I'm using TITAN RTX for testing, so GPU results are reproducible now!

However I'm not sure whether different GPU product type matters...

[2020-02-10 08:59] Hartorn commented on #75
Linked to #77

[2020-02-10 09:12] meechos commented on #70
@Optimox @carefree0910 similar results here with `1.0.3` on the forest dataset.

Thanks so much for a new release so quickly, I will report back with results my own datasets.

[2020-02-10 09:12] #70 closed

[2020-02-11 14:12] Optimox opened #78 "Bug with 1 shared layer and 2 independent layers"
**Describe the bug**

There is a problem with the way we deal with layers indexing that deals to a bug.

**What is the current behavior?**

You'll get an error if trying to set n_shared to 1 and n_independent to 2 for example.

**Expected behavior**

We should be able to put any value without error.
A fairly simple fix should be done

[2020-02-12 14:24] meechos opened #79 "Multi-class output in binary classification"
The original tabnet classifier by google is hard-coded to pass predictions in a multi-class format, regardless of whether `num_classes` is 2.

Would you know if the above means
- there are two output neurons in the model
- performance is affected for binary classification problems?

Is your implementation similar in this aspect?

[2020-02-13 14:33] Optimox commented on #79
Hello @meechos,

I'm not sure to understand your question exactly.

The google implementation is indeed hard coded and you can't use their code for any dataset without changes.

Our implementation is scikit compatible which means that if you use `TabNetClassifier` you can do binary classification or multi class classification without having anything to do. Currently in tabnet, if you have a binary

[2020-02-13 18:02] meechos commented on #79
Thank you @optimox, that makes sense.

I raised this as in previous experiments with google's codebase I was getting different performance if the labels were passed as `oneHot` and otherwise. But I agree that a two neuron output with a `softmax` should be the same as a single neuron output with a `sigmoid`.

On this interesting note, would a fork make sense to switch that to `average_precision_sco

[2020-02-13 18:02] #79 closed

[2020-02-13 18:59] meechos opened #80 "RandomizedSearchCV with pytorch-tabnet"
It appears that the TabNetClassifier does not have a `get_params` method for hyperparameter estimation.

Is this reproducible your end?

Many thanks

[code]

[2020-02-14 14:44] Optimox commented on #79
I guess next step would be to add callbacks that allows you to early stop on any custom metric.

[2020-02-16 07:12] #75 closed

[2020-02-17 17:06] Optimox commented on #80
We might be missing a `self.params`, it would not cost much to add it!

[2020-02-19 09:46] meechos commented on #80
I hope my feedback has been received as constructive, as it's meant to be.

That said, I'll do my best to add it, cheers!

[2020-02-25 17:42] Optimox commented on #80
this shoud be fixed by #84

[2020-02-26 16:11] meechos commented on #80
Hey just saw this comment. I implemented and tested inheriting `get_params` and `set_params` from ` sklearn.base.BaseEstimator`. It appears to pass an ok repr, not sure if you want to use the one already implemented in the classifier.

I appreciate this is now anyway fixed in a different commit but should pushing my fork be helpful let me know. Many thanks

[2020-02-28 15:58] Optimox commented on #78
solved by #84

[2020-02-28 15:58] #78 closed

[2020-03-09 17:34] meechos commented on #80
The model seems to break now further down when calling `.fit()` `AttributeError: 'NoneType' object has no attribute 'shape'` (full error below.). A similar error is thrown by sklnear's fit if a `X_valid` is passed.

Possibly due to incompatible args in the `.fit()` of sklearn estimators (e.g. GridSearchCV) and the `.fit()` in `tab_model.py`.

I may be able to look into this next week.

[code]

[2020-03-13 11:24] R4ZZ3 opened #90 "model saving produces error on Windows"
Hi,

ytorch-tabnet 1.0.4,
ON windwos got this error:
OSError: [Errno 22] Invalid argument: './DreamQuarkTabNet_13-03-2020_12:47:25.pt'

In tab_model.py:
Lines 112-113
model_name is defined with:
dt_string = now.strftime("_%d-%m-%Y_%H:%M:%S")
self.model_name += dt_string

once this is run it produces above error on windows:
torch.save(self.network, self.saving_path+f"{self.model_name}.pt")

--> Ple

[2020-03-13 11:41] #90 closed

[2020-03-23 14:42] Hartorn commented on #80
Hello @meechos

Not sure what you are trying to do, if you could share a snippet of code.
In case you are trying to use sklearn Grid search, it will not work with early stopping up front

You can do it in several ways to make it work :
 - use ParameterSampler instead, and keep best params and model after each iteration.
 - build a simple wrapper around the classifier and give it to the grid search

[2020-03-24 15:40] Optimox commented on #63
Hey @yajiez,

I know it's been a while but I found the paper!
It's from Convolutional Sequence to Sequence Learning (cited in tabnet paper)
https://arxiv.org/pdf/1705.03122.pdf
If you go to the 3.5 Initialization section I think I tried to implement this, if you see that it does not match please let me know!

Thanks

[2020-03-24 16:02] yajiez commented on #63
Aha, this was one of my favourite papers but I did not remember their initialization details. Seems a good time to read this paper again :)

Thank you @Optimox for pointing out the reference!

[2020-03-24 16:02] #63 closed

[2020-04-03 01:54] muellerzr opened #93 "Ensuring I have attention right"
Hi there! Could you please help verify that I've made sure to do attention right? I'm working off the `fastai` implementation, and so it would be faster to read up [here](https://forums.fast.ai/t/tabnet-with-fastai-v2/62600/49) but essentially I made a modification to his model that can return the masks. So it currently looks like so:
[code]
From here to plot, I do:
[code]

Now I chose to do the `

[2020-04-03 03:13] muellerzr commented on #93
I'm reopening this as I don't think I'm 100% right after seeing the PR for categorical embeddings, can you read the post on the forums and advise me where to adjust? Thanks!

[2020-04-03 09:36] #93 closed

[2020-04-15 21:41] Catypad commented on #80
Hi @Hartorn , @meechos ! I'm having the same problem and just with the information above I can't resolve it. Can you help me, please? I don't have a lot of experience!

[2020-04-20 10:49] meechos commented on #80
@Catypad, compatibility with sklearn is not established at the level of using sklearn pipelines as in `GridSearchCV` out of the box. You may try `ParameterGrid` as in the pseudocode below:

[code]

[2020-04-22 09:16] Hartorn commented on #80
@meechos @Catypad Indeed, such as with XGB or other, you need to use ParameterGrid, or ParameterSampler, or if you want to use GridSearch you can make a wrapper, as described up.

[2020-04-24 19:01] mysterefrank opened #97 "Training is very slow"
Hi all,
Thanks for the clean implementation of this model!
I'm comparing tabnet to an MLP and some gradient boosted tree models on a very large (~terabyte) dataset. Tabnet is several orders of magnitude slower than the MLP with a comparable parameter count. It also seems to occupy a lot of memory on the GPU. Is this expected and is there something I can do about this?

**Describe the bug**

**What

[2020-04-27 15:59] Optimox commented on #97
Hi @mysterefrank ,

TabNet is indeed an order of magnitude slower than XGBoost.
I think it's difficult to compare TabNet to an MLP, as steps are sequential so if you have n_steps=3, you pass through 3 MLPs with attention, so I guess a TabNet architecture is by design way bigger than a classical MLP.

It's pretty rare I guess to have a terabyte of clean data to train on for tabular data, I guess wi

[2020-04-28 13:18] Optimox opened #98 "Num workers as parameters"
## Feature request

In order to improve speed, user could change num_workers directly in model parameters or fit parameters (probably better on fit parameters).

**What is the expected behavior?**

This could ease users to try to use as many thread as possible using torch Dataloaders num_workers

**What is motivation or use case for adding/changing the behavior?**
See #97

**How should this be imp

[2020-04-28 13:20] Optimox opened #99 "Refactorize embeddings"
## Feature request

Creating an external module for embeddings generation would make code clearer.
Some improvement to skip this part if no embeddings are needed would also make the training faster (see #97 ).

**What is the expected behavior?**
Nothing would change, just code optimization

**What is motivation or use case for adding/changing the behavior?**
Code clearer and faster.

**How should

[2020-04-29 09:17] meechos commented on #80
@Hartorn just gave your solution a try and getting the same issues reported earlier above. I am aware it works generally, but not sure if you have tried the suggested wrapper method with `TabNetClassifier`.

---
[code]

[2020-04-29 09:18] Hartorn commented on #80
Can you share a notebook so I can see?

[2020-04-29 09:51] meechos commented on #80
Sure thanks for your reply. See [here](https://github.com/meechos/sharing/blob/master/Copy_of_forest_example.ipynb) a modification on the current forest example notebook.

[2020-05-03 09:13] Hartorn commented on #80
@meechos your TabnetTuner should be
[code]

You used some arguments that the classifier was not accepting : eval_set, verbose, early_stopping_rounds are boosting model propoerties, here you needed to use X_valid, y_valid, and patience

[2020-05-04 09:29] Catypad commented on #80
Thank you for your help!

[2020-05-04 10:16] meechos commented on #80
@Hartorn thanks, of course. I tried that and still breaks.

[code]

And/or

[code]

[2020-05-04 11:29] Hartorn commented on #80
@meechos Second one is the way to do it.
I guess you did not define a `patience` variable

Plus you need to have a look at what the classifier is accepting as params
https://github.com/dreamquark-ai/tabnet/blob/develop/pytorch_tabnet/tab_model.py#L76
As I showed on the the code extract in my previous comment, you need to name the arguments in fit `patience=30, X_valid=X_valid, y_valid=Y_valid`
fit

[2020-05-04 11:29] Hartorn commented on #80
@Catypad No worries, are you managing it ?

[2020-05-04 12:34] #99 closed

[2020-05-04 12:39] #98 closed

[2020-05-05 06:31] hengck23 commented on #70
fyi, the author's code for experiment results in the paper can be found at:
https://openreview.net/forum?id=BylRkAEKDH

Code: https://drive.google.com/file/d/1oLQRgKygAEVRRmqCZTPwno7gyTq22wbb/view?usp=sharing

[2020-05-05 09:36] Hartorn commented on #80
@Catypad @meechos Here is a example of a notebook doing a grid search, hope this help :)
Cheers

[Téléchargements.zip](https://github.com/dreamquark-ai/tabnet/files/4579945/Telechargements.zip)

[2020-05-05 12:39] hengck23 opened #102 "question : only fc is shared, but bn (and glu) is not?"
According to the paper, it seems that in the feature transformer in Figure.4(a),
all fc-bn-glu are shared.  However, your implementation only shares fc.

is there a reason for this implementation?

[2020-05-05 13:34] meechos commented on #80
Would be very helpful to see it implemented thank you @Hartorn.

Mum said never download from strangers :) Why not sharing it in the examples, surely many people would be interested in parameter optimisation.

[2020-05-05 13:39] Optimox commented on #102
Hi @hengck23, happy to see you here (big fan of your sharing on Kaggle)!

Indeed when reading the paper it seems that everything is shared fc-bn-glu, but since GLU is just the activation function there is no parameter sharing here so the two important parts are fc and bn.

The first implementation we did shared both fc and bn but the network could not train, we removed the batch norm sharing and e

[2020-05-05 14:09] Optimox commented on #102
I had a look at the tensorflow implementation here https://github.com/google-research/google-research/blob/master/tabnet/tabnet_model.py

You can see lines 121 and 134 that they specifically `reuse` the fc layers, this does not seem to be the case for the batch normalization layers, so I would say that the figure on the paper is a bit confusing but that the batch norm layers shouldn't/can't be sha

[2020-05-06 14:06] hengck23 commented on #102
@Optimox  Thanks for the answer. Your code is very well written it helps me a lot in understanding the paper. Good work!

I checked the tensorflow code. it seems that only fc is shared but bn is not.

in my own experiments, i also confirm that the performance is as follows:
share only fn (best) > all independent and no sharing > share both fn+bn (very bad)

Also, the results is rather sensitive to

[2020-05-06 14:40] Optimox commented on #102
Thanks @hengck23,

**About the speed ups** :
- I already added num_workers as a parameter for users (see #98) next release will have this easily accessible
- We probably don't need to care about masks during training you are right, I'll try to find a way to disable the masks during training.

**About ghost batch norm** I guess this is one of the trickiest part that I don't master very well, I can

[2020-05-06 15:10] Optimox opened #103 "Speed up: stop computing masks explanations during training"
## Feature request

**What is the expected behavior?**
During training, masks don't need to be available for users. We could skip some computations as discussed in #102

**What is motivation or use case for adding/changing the behavior?**
This should speed things up

**How should this be implemented in your opinion?**
not sure yet

**Are you willing to work on this yourself?**
yes

[2020-05-06 15:17] Optimox opened #104 "Ghost Batch Norm : refactorize"
## Feature request

**What is the expected behavior?**
As mentioned in #102 with @hengck23 ghost batch norm implementation could probably be improved, his code here could be a good solution :  https://gist.github.com/hengck23/c21b8b6f2f34634687ebd8a4e963f560

**What is motivation or use case for adding/changing the behavior?**

Cleaner and faster implementation

**How should this be implemented in

[2020-05-06 15:20] Optimox opened #105 "Can't really set n_independant or n_shared to zero"
**Describe the bug**

**What is the current behavior?**
It's possible without error to train with `n_independent=0` and `n_shared=0` and looking at the code it seems that zero is actually 1, so minimal value is 1 and this should not be the case.

**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**

Well I guess 0 and 0 should throw a clear error, but

[2020-05-07 11:49] Hartorn commented on #105
After looking at the code, I think the problem is especially on n_independent, that should accept value >=1

[2020-05-07 14:23] Optimox commented on #105
yep created a PR, not finished yet

[2020-05-08 12:33] Optimox commented on #97
Hey @mysterefrank,

I hope the changes that we made will be useful to you (will make a release soon).
I'm closing this as it seems that we answered your question, feel free to reopen it if you like to discuss more about this.

Cheers

[2020-05-08 12:33] #97 closed

[2020-05-09 17:43] Optimox commented on #104
thanks @eduardocarvp!

[2020-05-09 17:43] #104 closed

[2020-05-10 20:26] mysterefrank commented on #97
Thanks for the detailed reply!

[2020-05-12 08:15] #105 closed

[2020-05-12 08:35] Hartorn opened #114 "test slack"
**Describe the bug**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**

**Screenshots**

**Other relevant information:**
poetry version:
python version:
Operating System:
Additional tools:

**Additional context**

[2020-05-12 08:35] #114 closed

[2020-06-02 08:25] franz101 opened #117 "Example Regression not working in Google Colab"
**Describe the bug**
I tried to run on gpu and then on cpu and with different embedding sizes.
Still I get a dimension error.

Here is the link to the notebook:
https://colab.research.google.com/drive/1wDQ28PNxtEJA1XZyN2eVA6iTSd6ctf-E?usp=sharing

Maybe related to #94

[2020-06-02 08:49] eduardocarvp commented on #117
Hi @franz101, thank you for the bug report.

I will try to reproduce the bug and come back soon with more info on this.

[2020-06-02 09:37] franz101 commented on #117
Ok meanwhile I just used the preprocessing and the parameters of the classifier notebook which worked. Seems like there is an issue with preprocessing proabably due to pandas 1.
And also the cat_emb_dim is now set to 1

[2020-06-02 09:50] Optimox commented on #117
hey @franz101 could you show the error you to, if it's about embedding size with regression we already fixed the bug, but it has not been release yet, so you can use the code from develop branch or wait for the release that should come this week.

[2020-06-02 10:04] #102 closed

[2020-06-02 10:19] franz101 commented on #117
<img width="1150" alt="Screenshot 2020-06-02 at 12 16 20" src="https://user-images.githubusercontent.com/18228395/83508931-ec1e9e00-a4ca-11ea-9cc5-0e8d6ec146c5.png">

Sure no problem.

I fixed the issues by commenting them out.
First issue was due indexing problems in my dataset (the fillna with mean part)
Second issue was due to the embedding dimensions.
Third issue was due to a reshaping in the

[2020-06-02 10:19] #117 closed

[2020-06-02 12:00] Optimox commented on #117
@franz101 you may try to install the develop branch doing this :

`pip install  "git+https://github.com/dreamquark-ai/tabnet.git@develop#egg=pytorch_tabnet" --upgrade`

[2020-06-02 13:33] queraq opened #119 "Bug with unordered cat_idx"
**Describe the bug**

If the list of cat_idx is unordered the corresponding cat_dims used into embeddings will not match.

**What is the current behavior?**
The bug appear into the forward of `EmbeddingGenerator`.
A for loop walk througth features and take embedding corresponding to each categorical feature from the self.embeddings list wich is build in the same order as cat_idx.

**If the current

[2020-06-02 15:27] #119 closed

[2020-06-03 09:00] Optimox commented on #103
thanks @eduardocarvp  closed by #111

[2020-06-03 09:00] #103 closed

[2020-06-03 10:37] #80 closed

[2020-06-04 08:45] Optimox opened #122 "Research : Embedding Aware Attention"
# Main Problem

When training with large embedding dimensions, the mask size goes up.

One problem I see is that sparsemax does not know about which columns come from the same embedded columns, this could create something a bit difficult for the model to learn:
- create embeddings that make sense
- mask embeddings without destroying them, in fact since sparsemax is sparse it's very unlikely that a

[2020-06-04 08:51] Optimox opened #123 "Adding Callbacks"
# Main Problem

Currently some things can be changed like scheduler or optimizer but it's not possible to do things like changing the loss function, the early stopping metrics and probably some important things for specific problems.

# Proposed Solutions

We should find a simple way of using callbacks in order to customize more the training process.
Something that would resemble one of these:
- h

[2020-06-04 08:59] Optimox opened #124 "Boosted-TabNet?"
# Main Remark

Tabnet architecture is using sequential steps in order to mimic some kind of random forest paradigm.
But since boosting algorithms often outperform random forests shouldn't we try to move towards boosting methods instead of random forest?

# Proposed Solutions

One solution I see here would be to predict different things at each step of the tabnet to perform boosting:
- first step w

[2020-06-04 09:12] Optimox opened #125 "Research : Binary Mask vs Sparse Mask?"
# Main Remark

Tabnet architecture is using sparsemax function in order to perform instance-wise feature selection, and this is one of the important feature of TabNet.

One of the interesting properties of sparsemax is that it's outputs sum to 1, but do we really want this?
Is it the role of the mask to perform both selection (0s for unused features) and importance (a value between 0 and 1)?
I wou

[2020-06-04 09:34] Optimox opened #126 "Research : Change Attention Transformer Inputs"
# Main Remark

Currently in tabnet architecture, a part of the output of Feature Transformer is used for the predictions (n_d) and the rest  (n_a) as input for the next Attentive Transformer.

But I see a flaw in this design, the Feature Transformer (let's call it FT_i) sees masked input from the previous Attentive Transformer (AT_{i-1}), so the input feature of FT_i don't contain all the initial

[2020-06-04 09:39] Optimox opened #127 "Create a set of benchmark dataset"
## Feature request

I created some Research Issues that would be interesting to work on. But it's hard to tell if an idea is a good idea without having a clear benchmark on different dataset.

So it would be great to have a few notebooks that could run on different datasets in order to monitor performances uplift of a new implementation.

**What is the expected behavior?**
The idea would be to run

[2020-06-05 16:44] neomatrix369 opened #129 "[Question/Feature Request] You mentioned it works with GPU, does Fast-TabNet work with TPUs?"
## Feature request

**What is the expected behavior?**
Same as the outcome on CPUs and GPUs

**What is motivation or use case for adding/changing the behaviour?**
Better training performance

**How should this be implemented in your opinion?**
Similar to Tensorflow/Pytorch sends the data to the TPU

**Are you willing to work on this yourself?**
Happy to contribute along with another experienced de

[2020-06-05 16:54] neomatrix369 opened #130 "[Question/Feature Request] Any explainability output or examples available to try out"
## Feature request

**What is the expected behavior?**
No behaviour changes. Rather add examples to the docs or the examples section of the repo.

**What is motivation or use case for adding/changing the behavior?**
Make it easy to allow users to adapt it into their ML workflow. As explainability is an important topic in the current atmosphere.

**How should this be implemented in your opinion?**

[2020-06-05 17:02] eduardocarvp commented on #130
Hi @neomatrix369 ,

Our example/tutorial notebooks contain a special section for the explainability. If you have a look here https://github.com/dreamquark-ai/tabnet/blob/develop/census_example.ipynb , there is a section subtitled `Local explainability and masks` where we try to explain, for each input data line and for each step in the architecture, what are the mask values as well as the final `e

[2020-06-05 17:13] neomatrix369 commented on #130
Thank you for sharing the link, I will give it a whirl!

[2020-06-05 17:51] Bharat9280 opened #131 "getting error while fit"
**Describe the bug**

 new() received an invalid combination of arguments - got (list, int), but expected one of:
 * (*, torch.device device)
      didn't match because some of the arguments have invalid types: (!list!, !int!)
 * (torch.Storage storage)
 * (Tensor other)
 * (tuple of ints size, *, torch.device device)
 * (object data, *, torch.device device)

**What is the current behavior?**

**I

[2020-06-05 19:57] kmedved opened #132 "Sample weigh support for regression problems"
## Feature request

**What is the expected behavior?**
It would be very helpful to add sample weight support for regression problems. The idea would be to add a 'sample_weight' parameter to the .fit() call, and give a weighted regression.

**What is motivation or use case for adding/changing the behavior?**
Many datasets involve different sample weights. This is especially common with sports data

[2020-06-06 07:59] Optimox commented on #129
Hey @neomatrix369, I'm not sure to understand correctly the question?

fast-tabnet is the fastai wrapper of pytorch-tabnet, they are two different things.

Does fast-tabnet uses TPU : I don't think so.
Does pytorch-tabnet uses TPU: no.

I've never used pytorch with TPUs, so if you have some links in that direction I'd be interested to know more!

[2020-06-06 08:01] Optimox commented on #131
hello @Bharat9280,

Could you please share a bit more about the issue you have?

What is the code that you are trying to run?

[2020-06-06 08:05] Optimox commented on #132
Hi @kmedved,

This is a good feature to add.

Basically we have two options to deal with training weights, either by changing the weights in the loss or changing the sampling weights in dataloaders to do over/under sampling.

I'll have a look and should come back with a concrete solution pretty soon!

[2020-06-06 11:22] neomatrix369 commented on #129
Thanks for your response, I'm working on this notebook: https://www.kaggle.com/neomatrix369/bert-on-steroids-using-pytorch-cpus-tpus (credits to the inspirer of the notebook - mentioned in it).

It uses Pytorch, Bert, Transformers and TPUs on Kaggle (although should work on Google Colab as well) to do multi-processing TPU model training.

I hope this helps.

[2020-06-06 12:36] tanulsingh opened #133 "Error with using Pytorch Lr Scheduler"
I am trying to use ReduceOnplateau lr scheduler with TabnetRegressor and I am getting the following error:
step() missing 1 required positional argument: 'metrics'

I don't find any argument to pass in the metrics or something I even went through the code of Tabnet Help would be appreciated
Thanks in advance

[2020-06-06 13:45] Optimox commented on #133
Hello @tanulsingh,

Thanks for opening this issue.
At the moment the only LRschedulers that you can use are ones that don't depend on the current epoch results (so ReduceOnPlateau won't work). You can use any LR that decays in a pre-defined manner.

I know this is something that we should improve, this should come with the callbacks method I think #123

So for now I suggest you to switch to `torch

[2020-06-07 06:18] tanulsingh commented on #133
Hey @Optimox I believe I can make those lr schedulers work by inheriting from the tabnet model base class and working on that . BTW I was able to successfully use custom loss with Tabnet . Now I plan on using lr schedulers and TPU's  with tabnet . If I am successful I will update the results here . Also I was able to achieve 0.1620 on public lb in trends competition which is State of the art witho

[2020-06-07 09:28] Optimox commented on #133
@tanulsingh there is no fundamental reason not to be able to use custom loss or lr schedulers, it's just that the implementation does not give easy access to this yet.

If you spend some time changing the code to enable some functionnalities don't hesitate to create a PR so that I can review and potentially merge it.

Very happy to see that you are able to achieve good results with tabnet.

In ord

[2020-06-08 09:11] andreipit opened #134 "[Question/Feature Request] Any example of applying tabnet in reinforcement and self-supervised learning"
## Feature request

**What is the expected behavior?**
New example in the examples section of the repo.

**What is motivation or use case for adding/changing the behavior?**
Adding a new application area.

**How should this be implemented in your opinion?**
Just docs and examples of using tabnet with openai and small data.

**Are you willing to work on this yourself?**
Maybe. Not sure.

#Abhishek-

[2020-06-08 10:24] Optimox commented on #134
Hello @andreipit,

I am no expert in reinforcement learning but I don't think tabnet applies here, I don't think anyone applied tabnet to reinforcement learning yet.

As for  the self supervised learning part, the original paper is mentioning it and gives some results. This feature will probably be added in the future as I think it's an interesting idea for small datastes.

[2020-06-08 10:25] Optimox commented on #131
Well @Bharat9280,

I'm closing this issue, feel free to reopen it when you have more info to share as there is no way to help you with so little info.

[2020-06-08 10:25] #131 closed

[2020-06-08 15:26] amartin211 opened #135 "RuntimeError: CUDA error: device-side assert triggered"
**Describe the bug**

I get this CUDA error when trying to fit the classifier (with GPU).

I've also tried switching to CPU and got a different error => "RuntimeError: Invalid index in gather at /opt/conda/conda-bld/pytorch_1579022060824/work/aten/src/TH/generic/THTensorEvenMoreMath.cpp:657" where now the error seems to be related to an index tensor that has invalid indices and I'm not sure on how

[2020-06-08 15:31] eduardocarvp commented on #135
Hi @amartin211 ,

These bugs can be a bit tricky to track since they are masked behind `CUDA error`. It had it happen to me and very often the cause is a `NaN` value somewhere on the dataset that cannot be interpreted by pytorch.

Could you check if this might be the case?

[2020-06-08 15:52] rmitsch opened #136 "Models don't accept model_name, saving_path"
**Describe the bug**

Models don't accept `model_name`, `saving_path` as initialization arguments.

**What is the current behavior?**

See above.

**If the current behavior is a bug, please provide the steps to reproduce.**

`clf: TabNetClassifier = TabNetClassifier(saving_path="/home/user123/dev/", device_name="cpu")`

**Expected behavior**

Models should accept `model_name`, `saving_path` as ini

[2020-06-08 16:37] Optimox commented on #136
hey @rmitsch,

Thanks for creating this issue, ` model_name` and ` saving_pat` are actually deprecated, we should remove them and update the readme.

Saving a tabnet model follows the same rule as saving a pytorch model or XGBoost model.
Either you save it as pickle and it will be the same as an XGBoost model or you can use pytorch specific save methdos https://pytorch.org/tutorials/beginner/savin

[2020-06-08 16:48] Optimox opened #137 "Verbosity with LR scheduler is not working properly"
**Describe the bug**

**What is the current behavior?**
So when setting verbose to a value >1 and a scheduler, the verbosities don't match :
see https://www.kaggle.com/tanulsingh077/achieving-sota-results-with-tabnet#877426

**Expected behavior**
Well learning rates should follow same verbosity (or potentially be hidden not sure)

**Additional context**

[2020-06-08 17:16] amartin211 commented on #135
Indeed that was the issue. I'm working with a tricky dataset and had few 'inf' values in it. I've removed them and it seems to be working properly now. thanks for the quick reply.

[2020-06-08 17:16] #135 closed

[2020-06-09 07:57] rmitsch commented on #136
Thanks for the quick response!
Your recommended to save a model approach unfortunately yields `AttributeError: 'TabNetClassifier' object has no attribute 'network'`.

[2020-06-09 08:48] Optimox commented on #136
hello @rmitsch,

Actually you are right, what I said does not work because the network is instantiated only after a fit, which is not very useful in that case (we might change that behaviour in the future.

Try this instead, it should work :

[code]

[2020-06-09 10:27] eduardocarvp commented on #136
Indeed, @Optimox , I have noticed that and I even probably have the change locally where I instantiate the network on class `__init__()`. I think it is better that way.
I'm willing to work on this and I can also fix the `model_name`/`saving_path` on the way, It should be simple.

[2020-06-09 10:35] eduardocarvp opened #138 "Create network on model instantiation"
## Feature request

**What is the expected behavior?**
The network attribute should be created as soon as a model classifier or regressor is instantiated.

**What is motivation or use case for adding/changing the behavior?**
The network's existence is independent of the `fit` function and this will help with saving/loading features. None of the network parameters depend on any fit-only information

[2020-06-09 11:27] JaskaranSingh-Precily commented on #124
Interesting ,
For classification , i think we can try the same way as gradient boosting algorithm and or adaboost as mentioned in ther paper using cross_entropy loss function ?

In case of Gradient Boostin technique the output of each step will be multiplied by a Learning rate and will be sum to get the log odd on which we can apply sigmoid to get probability (0/1)?

In case of adaboost we can may

[2020-06-09 11:48] AlexisMignon commented on #124
Why not try a mere application of gradient boosting ? Each step fits the gradient of the loss function (as computed so far) and adds it (using line search) to the previous result. Only regression is needed internally (to fit the gradient) and it allows for regression and classification.

[2020-06-09 12:11] JaskaranSingh-Precily commented on #124
Interesting ,
For classification , i think we can try the same way as gradient boosting algorithm and or adaboost as mentioned in ther paper using cross_entropy loss function ?

In case of Gradient Boostin technique the output of each step will be multiplied by a Learning rate and will be sum to get the log odd on which we can apply sigmoid to get probability (0/1)?

In case of adaboost we can may

[2020-06-09 12:17] Optimox commented on #136
@eduardocarvp I think the problem with this is that before the fit we do not know either input_dim or output_dim, it's nice to have this computed automatically so I'm not sure how to bypass this.

I think the best way would probably to have a method `set_network` (or something better) which would be called automatically during the fit but that could be called manually in order to instantiate every

[2020-06-09 12:18] Optimox commented on #138
I left a comment here https://github.com/dreamquark-ai/tabnet/issues/136 but I think it belongs here :)

[2020-06-09 12:46] Jaskaran170599 commented on #124
Interesting ,
For classification , i think we can try the same way as gradient boosting algorithm and or adaboost as mentioned in ther paper using cross_entropy loss function ?

In case of Gradient Boostin technique the output of each step will be multiplied by a Learning rate and will be sum to get the log odd on which we can apply sigmoid to get probability (0/1)?

In case of adaboost we can may

[2020-06-09 12:47] Optimox commented on #124
@AlexisMignon approaching classification problems with regression could be a solution but I feel like it's not satisfying and especially for multi class classification...

@JaskaranSingh-Precily tabnet is using cross entropy already, but you need to have integers as targets to apply cross entropy, so I don't see how a boosted version could use cross entropy at every step. Could you explain and/or

[2020-06-09 12:50] Jaskaran170599 commented on #124
@Optimox  actually commented with the company account that was not my personal account

[2020-06-09 13:08] Jaskaran170599 commented on #124
@Optimox I think the problem here is how to train the week learners .

As in boosted trees this is done by gini index (for training a week tree) etc.  And the cross entropy was used on whole algorithm that is to find out residuals and another tree is trained on those residuals.

But here each step requires some gradients to train not as in tree (gini index only).

A solution could be to train each

[2020-06-09 14:23] AlexisMignon commented on #124
@Optimox
You may want to have a look at the Friedman paper about Gradient Boosting :
https://statweb.stanford.edu/~jhf/ftp/trebst.pdf
You'll see what I meant by using regressors only.

@Jaskaran170599

Exactly. The idea is to fit the decision function before the sigmoid is applied. And compute the gradient with respect to this decision function values. So at each step, the weak learner is trained

[2020-06-09 15:38] rmitsch commented on #136
@Optimox Plain old pickling worked, thanks!
My two cents on whether to offer functionality to save and load load models: IMO that would be reasonable, even if it's just a very simple wrapper - that way I as a user don't have to worry about whether using Pytorch's save, pickle etc.

[2020-06-09 18:10] Jaskaran170599 commented on #124
@AlexisMignon Yeah and i think here in tabnet case that week learner is one block of the architecture and the main task that is different than Boosting algos is to train that block .

[2020-06-10 09:27] amartin211 opened #139 "RuntimeError: CUDA error: an illegal memory access was encountered"
**Describe the bug**
I'm having this CUDA error when fitting the classifier.  I googled it and find out that this is a common PyTorch error so I have tried to solve this by explicitly setting the gpu device (I have only one GPU Tesla T4) but it didn't work. Although when setting the classifier with parameter : device_name: 'auto' it recognises my GPU devise.
I also tried different batch sizes but

[2020-06-10 09:34] Optimox commented on #139
This looks like a setup problem with your GPU, are you able to run other models using your GPU?

Or maybe try to reduce your batch size.

It does not seem directly related to tabnet but to pytorch/your gpu.

[2020-06-10 09:40] eduardocarvp commented on #139
I have never seem this problem either... Maybe something related to the CUDA version/driver version? I'm running on CUDA 10.1.

Perhaps this can help: https://docs.nvidia.com/deploy/cuda-compatibility/index.html.

[2020-06-11 06:14] Optimox commented on #136
helo @xywust2014 could you please clarify a bit when the error occurs?
Sharing some code can help us too, but from your error message it looks like you might be missing parenthesis, what you want to save is your clf defined like this `clf = pytorch_tabnet.tab_model.TabNetClassifier()`.

[2020-06-11 13:44] xywust2014 commented on #136
Thanks a lot for the help. Here are the code.

[code]

[2020-06-11 14:45] Optimox commented on #136
hmm could you try reading the file instead of writting in the second `with open` statement :

instead of this

[code]
try this
[code]

[2020-06-11 14:47] xywust2014 commented on #136
Thanks a lot!:) I will try that.

[2020-06-12 02:23] xywust2014 opened #140 "What is the objective function to optimize?"
I notice that for every epoch, there will be train and valid accuracy.
Is the accuracy the metrics for the optimization? I am currently dealing with binary classification problem, and I would like to use auc or recall as an metric. May I be able to do that too?

Thank yo very much for your response.

[2020-06-12 08:04] Optimox commented on #140
hello @xywust2014,

There are two distinct metrics to consider:
- the loss function that your model is trained to minimize
- the early stopping metric, which is used to select the best epoch and stop the training when no further improvement has been seen.

Currently you can easily change the loss function by using `loss_fn` parameter during the fit, you can pick any loss function from pytorch http

[2020-06-12 13:29] xywust2014 commented on #140
Thank you! Optimox. This helps a lot.

[2020-06-12 15:13] #140 closed

[2020-06-12 20:41] tanulsingh commented on #139
@eduardocarvp  I experienced the same issue , your gpu is running out of memory , restart the process and it will work fine .It worked for me

[2020-06-12 20:45] tanulsingh opened #142 "Using Pytorch-Tabnet as nn.Module blocks or torchvision models"
[code]

I want to do something like this with Tabnet and have my own custom model so that I have all the liberties of using a neural net and I don't have to do it like scikit learn again

[2020-06-13 07:51] Optimox commented on #142
Hello @tanulsingh,

Basically the code is split into two files, `tab_model.py` and `tab_network.py`.

`tab_model.py` is dealing with the scikit-like part.

What you want is in the `tab_network.py` here is a dummy example (you can add any torch function in the architecture :
[code]

You can use any class from this file `https://github.com/dreamquark-ai/tabnet/blob/develop/pytorch_tabnet/tab_network

[2020-06-13 08:56] amartin211 commented on #139
It worked after restarted my kernel indeed. I have this issue because of the large size of my dataset (about 25GB). What I'm still unable to do right now is to run my model multiple times as I'm trying different hyper parameters without restarting my kernel each time. I'm on a google cloud instance and it takes about 20 min just to read this large dataset. Basically I would need to find a way to f

[2020-06-13 08:56] #139 closed

[2020-06-13 11:25] Optimox commented on #139
@amartin211 you could have a look here : https://discuss.pytorch.org/t/how-can-we-release-gpu-memory-cache/14530
`torch.cuda.empty_cache()` would be more effevtive to clean the GPU I guess

[2020-06-13 21:23] nicolasj92 opened #143 "Loading large datasets that do not fit into the ram"
## Feature request

**What is the expected behavior?**
More flexibility in supplying data to the fit() function. How can I use this on a dataset that does not fit into the ram of my PC. Can I supply my own dataloader function?

**What is motivation or use case for adding/changing the behavior?**
The dataset I want to use tabnet on does not fit into my ram.

**How should this be implemented in your

[2020-06-13 22:39] Optimox commented on #143
hello @nicolasj92,

I think indeed that this would be an interesting feature, especially since deep learning allows easily batch training.

One of my concerns is to keep the library easy to use, so I'm not sure that directly giving access to dataloaders would be the best way, but we could easily provide support for frequent datasets types ( like parquet files, hdf5 files or some others?) just by p

[2020-06-14 04:48] Lincoln93 opened #144 "Config for binary and multi class problem?"
Is it possible to use `TabNet` for binary and multi class output problem? What would be the proper evaluation metrics for each? For binary and multi-class, how we're defining `sigmoid` and `BCE` in the implementation?

[2020-06-14 06:53] athewsey commented on #136
Just chipping in to say - pickle dump/load is working for me... But I've noticed that it means it's not possible to e.g. train the model on a CUDA-enabled machine but then deploy for inference on a CPU-only environment. I suspect there might also be some constraints about porting the model between Python versions or other environment changes?

I'd advocate for either of these, if possible:

* Addi

[2020-06-14 07:40] athewsey commented on #143
I agree this library has been very quick & easy to get started with for me - but I don't think expanding the API to accept either array-like or generator-like inputs need have that much affect on usability, right? E.g. would be a familiar pattern to those who've worked with Keras before...

Trying to handle the end-to-end file loading within the library could raise all sorts of edge cases like "I

[2020-06-14 08:20] nicolasj92 commented on #143
Hi Optimox, thanks for the quick reply!
My current project involves a dataset containing 1.2m samples with ca. 4000 features. It is still just a csv file but I cannot load it into ram completely.

I agree that ease-of-use should be a major factor. A solution could be to provide a set of standard dataloaders (e.g. np.array, hdf5 ...) but also to allow the api user to code custom dataloaders that in

[2020-06-14 10:04] Optimox commented on #136
@athewsey
I guess improving things so that the pickle option is not the only one would allow easier porting on different environments, pickle has this inherent flaw.

However have you tried to explicitely switch to cpu for inference after loading your model by doing `clf.device_name = "cpu"` ?

[2020-06-14 12:09] Optimox commented on #144
you do not need to define anything the implementation works for binary multi class and regression please refer to #140 for more information, feel free to reopen is this does not help.

You can also refer to the notebooks example in the repo that show classification and regression

[2020-06-14 12:09] #144 closed

[2020-06-14 20:19] Optimox commented on #143
I have to get a closer look at the problem, currently with a very few changes the code would accept instead of `X_train` any object that can be called with indexing (as numpy arrays), whether it's stored in RAM or anywhere else. This would probably allow reading directly from hdf5 file, parquet files... I don't see many applications where you would need more than that.

I will also take a closer l

[2020-06-14 20:30] Lincoln93 opened #146 "hyper-parameter searching"
Is it possible to do hyper-parameter searching like `GridSearchCV` or `RandomSearchCV` for tabnet classifer or regressor?

[2020-06-14 21:33] Optimox commented on #146
sure, but you'll need to make a small wrapper so that it would work.

Please have a look a this issue : https://github.com/dreamquark-ai/tabnet/issues/80

The last answer from @Hartorn gives a nice notebook to show how to do it.
I guarantee that it's safe to download.

But the main idea is that `GridSearchCV` or `RandomSearchCV` would not have any specific fit params so you need to do something li

[2020-06-15 08:11] #146 closed

[2020-06-15 08:25] athewsey commented on #136
Thanks for the quick response @Optimox! ...But afraid I don't think it'll work 😔

The error below is thrown on `pickle.load("classifier.pkl")`, so not possible to unpickle first then check and override:

[code]

I also tried unpickling the trained file on a GPU-enabled instance (which showed `device_name = "auto"` by the way); setting the prop to `cpu`; then re-pickling to `classifier.cpu.pkl` and

[2020-06-15 09:58] Optimox commented on #136
yep it was worth a try, I think @eduardocarvp will come with a better solution pretty soon.

[2020-06-15 16:30] xywust2014 commented on #136
Thanks for the response. It looks like that I can use the pickle method to save&load the model clf without fitting on the training datasets.  However, after I used .fit method using the training datasets on clf, then the following error will occur.

PicklingError: Can't pickle <class 'pytorch_tabnet.tab_network.TabNet'>: it's not the same object as pytorch_tabnet.tab_network.TabNet

[2020-06-15 17:09] Optimox commented on #136
@xywust2014 could you share a minimal code sample to reproduce your error?

Because pickling option seems to be working as long as you stay in the same environment. Without a reproducible bug we can’t help you.

[2020-06-15 17:51] xywust2014 commented on #136
Thanks. Optimox. I am using python 3.7 on Spyder. This machine has Cuda environment. But for the code below, I chose device_name = 'cpu'. (I set this as 'auto' before, which generates same error.)

If I escaped the clf.fit() code, then there won't be any errors.
However, if I run that code, then the error will occur.

`best_hyperparams = {"clip_value": 4.0, "gamma": 0.6666666666666666, "lr": 0.23,

[2020-06-15 19:12] Optimox commented on #136
well I just ran this code in my local machine on census income and it runs without problem...

a few notes though, if you are performing hyper parameter tuning you could refer to the README available in the front page of the repo to see "typical" values from the research paper.
- momentum seems a bit high
- clip value is for gradient clipping not sure it's worth searching on this but why not
- typ

[2020-06-15 19:30] xywust2014 commented on #136
Thanks a lot, Optimox, for the advice.

[2020-06-18 07:19] #132 closed

[2020-06-18 07:57] #137 closed

[2020-06-19 13:46] neomatrix369 commented on #133
@tanulsingh I don't think you can use tabnet with TPUs yet, unless you have found a way to do it already see my discussion #129 ;)

[2020-06-22 12:17] DoDzilla-ai commented on #136
Models also don't accept `mask_type`. Is this deprecated as well?

[2020-06-22 13:21] Optimox commented on #136
@DoDzilla-ai

Hello, well you are actually looking at the develop branch README (maybe we should find a way of defaulting the master branch) so `mask_type` is actually a new feature and not a deprecated one, but you if you installed the code from pip the you are using the master branch code which does not accept `mask_type`.

The same thing is happening with `lr`, we changed this recently in order

[2020-06-22 21:26] tmontana opened #149 "What is the best way to access the categorical embedding layers for use in other models?"
## Feature request
Is there a way to get access to the embedding layers and download activations into a dataframe?

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**
These embeddings can be used to get better numerical representations of categorical features (than say OHE) for use in other models.  They can also be used for the clustering of c

[2020-06-23 08:01] Optimox commented on #149
hello @tmontana,

There is no support for this feature but here is what you could do.

After fitting your model you can see the name and the shapes of all your embedding layers by doing
```clf.network.embedder.embeddings```
Then for example if you want to see how the model represents category 10 of your 4th categorical feature you can do:
[code]

So by iterating over all your categorical columns y

[2020-06-23 13:44] tmontana commented on #149
Will try that.  Many thanks!

[2020-06-24 13:42] kmedved commented on #132
Thanks for the quick work on this @Optimox.

[2020-06-24 13:59] Optimox opened #150 "Switch to half precision with torch1.6"
## Feature request

It's now possible directly though pytorch to use mixed precision training (https://arxiv.org/pdf/1710.03740.pdf)
As tabular values rarely change at 1e-10 scales and since tabnet is not so deep this would potentially not harm the results performances but could make the training faster with potentially a nice order of magnitude.

**What is the expected behavior?**

As some GPU do

[2020-06-26 10:47] naveenkb opened #151 "TabNetClassifier is not validating new target labels in validation set"
**Describe the bug**

In TabNetClassifer, if the validation data set contains new target labels compared to train, ValueError is not raised but raises below TypeError.

**What is the current behavior?**
I am getting following error.

**If the current behavior is a bug, please provide the steps to reproduce.**

In the example stated [here](https://github.com/dreamquark-ai/tabnet/blob/develop/census

[2020-06-26 10:55] eduardocarvp commented on #151
Thank you, @naveenkb.
If you wish to open a pull request we'll can carefully review it and merge for one of the next releases.
 I'm more than happy to help if you need something in that case.

[2020-06-26 19:22] #151 closed

[2020-07-03 07:27] #138 closed

[2020-07-03 07:29] Optimox commented on #136
The release 1.2 should solve all these problems, feel free to open an new issue if you encounter an other problem.

[2020-07-03 07:29] #136 closed

[2020-07-03 07:31] #130 closed

[2020-07-03 07:32] #133 closed

[2020-07-10 15:22] #134 closed

[2020-07-10 15:23] #129 closed

[2020-07-10 15:23] #3 closed

[2020-07-10 15:24] Optimox commented on #149
well @tmontana let us know if it did not work and feel free to reopen this issue

[2020-07-10 15:24] #149 closed

[2020-07-10 15:25] Optimox commented on #142
well @tanulsingh,

I'm closing this, hope you'll soon share what you did with pytorch-tabnet on this repo.

[2020-07-10 15:25] #142 closed

[2020-07-16 14:39] tmontana commented on #149
Hi all.  Sorry it took me a while.  This absolutely works.  My objective was to extract the embeddings given a particular dataset such that they could be used in place of OHE or simple numeric transform.

This would be similar to using scikit-learn style category encoders with fit/transform methods (see http://contrib.scikit-learn.org/category_encoders/index.html).

Is it fair to say that to trans

[2020-07-16 15:31] Optimox commented on #149
Well once your model is trained the embeddings are fixed, so there is nothing specific to one row.

Category "dog" could be embedded to [0, 0.5, 0.25, 1.2] for exemple (emb_size=4 here) then it's the same embedding for every row in the dataset, so if you know how each category is mapped you can apply this to any row of your dataset.

But using tabnet just to use the embeddings seems an overkill.

[2020-07-25 10:40] ddofer opened #159 "Slack/discussion link is broken"
The [link ](https://mltooling.slack.com/join/shared_invite/zt-e4y14rbp-IReRxmjoNy27XQFQgh~4ZQ#/)from the main README to the slack discussion appears broken ("Link is no longer active").
For now, I opened a PR via a seperate branch (improvements to the example notebooks). Hopefully that's ok!

[2020-07-25 10:41] ddofer commented on #127
I can help with this. It'd be best to run this with a testing framework, to allow for the tests or CI to check if changes to the models/code (e.g. defaults or improvements) break/reduce performance

[2020-07-25 11:42] Optimox commented on #159
Yeah right, I think the link expired, we'll need to change it in the README, but in the meantime you can access the slack using this https://join.slack.com/t/mltooling/shared_invite/zt-fxaj0qk7-SWy2_~EWyhj4x9SD6gbRvg let me know it that does not work either

[2020-07-25 20:00] bennyjg opened #160 "Loss dependent scheduler not supported (e.g. ReduceLROnPlateau)"
**Describe the bug**

When using ReduceLROnPlateau scheduler, the scheduler expects input of epoch loss value to identify Plateau and raises error.
Adding stopping_loss as parameter to scheduler.step() in the code also does not help since it is located in the training section
and not after the validation evaluation section.
I recommend as solution to move the scheduler.step lines to the Class TabM

[2020-07-26 08:14] Optimox commented on #160
Hello,

Indeed at the moment loss dependent schedulers are note supported.

But I don't understand what you are saying after this, scheduler_fn is already present in TabModel and of course we are early stopping based on validation score not training score, otherwise it would not make sense at all.

I guess the easiest way of showing what you are thinking about would be to open a PR so that we can

[2020-07-27 13:36] frankherfert opened #161 "example notebooks"
I have gone through the examples and made a few changes, which I would like to submit a pull request for:
- in one of the datasets, the first row was accidentally used as a header
- in some cases, the label encoding was overwriting continuous variables with few unique values
- I have added a few helper functions for detecting categorical variables, getting their column index and getting embedding

[2020-07-27 13:40] Optimox commented on #161
Hello @frankherfert,

Thanks for opening this issue! Indeed the notebooks examples can be improved. Feel free to create a PR with your changes so that we can discuss them in detail.

Please also have a look at this PR as it tackles the same examples: #158

[2020-07-27 13:44] frankherfert commented on #161
Thanks for the quick reply.
There is some overlap with #158. I didn't see this one before I started on the notebooks.

I will submit a PR and mention them in the other issue, so we can discuss which parts to use.

[2020-07-28 08:48] athewsey opened #163 "(Py3.6) torch.load requires seekable file"
**Describe the bug**

In Python < 3.7, `load_model()` fails because `ZipFile.open(...)` returns a *non-seekable* file-like object, which `torch.load()` will not accept. (See [this StackOverflow question](https://stackoverflow.com/q/33742544))

**What is the current behavior?**

Load model fails with:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

From discus

[2020-07-28 22:14] kmedved commented on #132
Would it be possible to add documentation on this feature? I'm struggling to understand how to pass both training and validation weights. I can call a `.fit() `with a weights parameter, but I'm not sure how to separately designate the validation weights in particular. For instance, LightGBM has a parameter for` 'eval_sample_weight'` if an `eval_set `is passed, but I can't find anything equivalent

[2020-08-03 01:50] rosefun opened #165 "How to fixed random initialization parameters?"
For the same network structure, the results of running for many times are quite different . I think the reason is that the initialization parameters are different each time.

So, do you consider fixed random initialization parameters of network?

[2020-08-03 06:26] Optimox commented on #165
Random seeds are already fixed, in all the experiments I did (either on CPU or GPU)  you can reproduce the exact same results.
Could you share more information like a reproducible code snippet and your environment?

Do you have some preprocessing steps? Do they involve random splits, random shuffle?

[2020-08-04 15:48] #163 closed

[2020-08-06 06:24] rosefun commented on #134
Hi, can you add self-supervised learning function? I think it's useful as the train data usually contains missing value.

[2020-08-06 07:22] Optimox commented on #134
Self supervision could be used for nan imputing but I think it’s really a side use of self-supervised pre-training.

But I agree that it would be an interesting feature, need to find some time to do this.

[2020-08-12 04:43] athewsey commented on #127
Anecdotally, I recently noticed a drop in accuracy (or maybe convergence speed) on Forest Cover Type when upgrading version of PyTorch... Would be interested to see whether others experience same and understand whether there's some issue that needs addressing or it's just a statistical variation.

Stopping at 200 epochs, observed test accuracy of:

- 95.584% on PyTorch v1.4.0
- 88.128% on PyTorch

[2020-08-12 07:26] Optimox commented on #127
@athewsey thanks for reporting that, it seems quite a lot for just changing the torch version. Have you been experimenting this on the latest release just by changing the pytorch version? I understand that random seeds could change from one version to another, but after 200 epochs there should not be such a gap.

@Hartorn @eduardocarvp did you notice such strong changes when monitoring tabnet scor

[2020-08-12 08:50] athewsey commented on #127
@Optimox those figures were I believe all using develop code as of my recent PR #164. Taking a random 80/10/10 Training/Validation/Test split of Forest Cover Type, and just trying the different PyTorch framework versions via AWS' provided [deep learning container images](https://github.com/aws/deep-learning-containers/blob/master/available_images.md) on SageMaker - so all with Python 3.6, Ubuntu 1

[2020-08-13 03:43] rosefun opened #166 "It seems that the network is not suitable when the number of features is large?"
I test the TabNet model with dataset, where there are about `900` feature columns and about `800,000` training samples. The model will always overfit and early stopping, though I have set `n_step=1,n_a=n_b=4`.

Finally, I check the important features, it seems that only few features have high score, and others' scores are low.

f1	0.3901934456720641
f2	0.1910946405238988
f3	0.18153149253617776
f4

[2020-08-13 07:27] Optimox commented on #166
Hello, thanks for sharing.

I think I miss some information to help you:
Is this a public dataset? Could you share it with the community? What kind of problem is this? How does tabnet compares with other models?

However what I can tell from what I know:
- tabnet should work ok with large number of features
- try bigger n_a and n_d : you are creating a bottle neck from 900 to n_d so it’s probably

[2020-08-14 01:39] monk1337 opened #167 "How to get only embeddings from Tabnet?"
I am trying to use Tabnet with another network. I just want to use Tabnet as a feature extractor.

Thank you!

[2020-08-17 16:09] Optimox commented on #167
Hi,

One way to do this is to override the last final mapping layer with Identity
`clf.network.final_mapping = torch.nn.Identity()` you can then do a forward and get the features by doing `features = clf.network(data)`

As your question is not very specific I'm not sure I can help more

[2020-08-18 20:30] monk1337 commented on #167
@Optimox  Hi, My use case is simple. I have sentences and categorical data in a data frame, I want to apply TabNet on Categorical data and Word2vec on Nlp sentences then concatenate both output and pass to classification layer ( linear projection)

So workflow is like this

Tabular data ==> TabNet ==> TabNet feature vector
sentences   ==> Gensim ==> word2vec

Final_layer ==> concat( [ TabNet featu

[2020-08-18 20:53] monk1337 commented on #167
One more question, the output of TABNET features is  features and loss

https://github.com/dreamquark-ai/tabnet/blob/c5573496e1262bc765eb04361ae4a3185844a866/pytorch_tabnet/tab_network.py#L151

Can I use this loss with final loss to improve the performance of model?

Like :

[code]

something like that?
Thanks!

[2020-08-19 16:54] Optimox commented on #167
So you can use TabNet network as any `torch.nn.Module` inside the definition of your overall model.

[code]

If you do this, `out_tabnet` will be of size (batch_size, outputdim) and you can treat this as embeddings of the tabnet model if you like. You don't necessarily need to get rid of the final_mapping layer, but you can ignore using `self.tabnet.final_mapping = torch.nn.Identity()` in the abov

[2020-08-19 18:27] monk1337 commented on #167
@Optimox

[code]

something like this?

[2020-08-20 07:31] Optimox commented on #167
Well, you’ll have to define input_dim and output_dim and adapt your dimensions in order to make this work but essentially that’s the idea!

[2020-08-23 18:41] bennyjg commented on #160
Hi Optimox,
I hope the PR is clear. The solution was quit simple so I hope it will be adopted quickly.
Best,
Benny

[2020-08-26 15:21] Optimox commented on #166
Well feel free to come back to us with more info and reopen this issue if needed

[2020-08-26 15:21] #166 closed

[2020-08-26 15:21] Optimox commented on #167
hey @monk1337,

Feel free to reopen this issue if you haven't solved your problem!

[2020-08-26 15:21] #167 closed

[2020-08-26 15:22] Optimox commented on #165
Well I'm closing this since I can't reproduce your error, feel free to reopen with more info when you have some.

[2020-08-26 15:22] #165 closed

[2020-08-28 12:34] Optimox commented on #132
@kmedved sorry I missed your question, you can't set specific weights for validation at the moment...

[2020-08-28 12:43] aishwarya-agrawal opened #169 "TabNet for MultiLabel classification"
**Describe the bug**

Hi, I am trying to use this implementation of TabNet for building a model with 20k features and 88 target classes. All one hot encoded.
**What is the current behavior?**
When I try to pass the same data to model.fit I get following error
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

For this I am using a simple dataset as mentioned befo

[2020-08-28 12:47] kmedved commented on #132
Got it. Thanks @Optimox. That would be helpful to add, since if we have weights on the training data, we're naturally going to end up with them on the validation data too.

Appreciate all the work on this library.

[2020-08-28 12:48] Optimox commented on #169
Hi,

Tabnet follows scikit-learn paradigm : for multi-class classification you should not one hot encode your targets. You do not need to explicitly name your target 0, 1, 2, ..., 87 Tabnet will do this for you so you just need to provide Y such that Y.shape = (n_examples, 1) you could label encode your targets or just convert them to strings from OHE it should work.

Let me know if you still have

[2020-08-28 12:57] aishwarya-agrawal commented on #169
Thing is it is multi-label classification, so a single row is mapped to multiple targets, that's why the one hot encoded thing.

[2020-08-28 12:59] Optimox commented on #169
well then you should probably use TabNetRegressor instead of TabNetClassifier, Tabnet allows you to do multi output regression so everything should run just fine, you'll just have to do a bit of post processing in the end to set thresholds.

Please let me know if this worked for you!

[2020-08-28 13:01] aishwarya-agrawal commented on #169
Cool, I'll try that. Thank you so much!

[2020-08-28 15:28] aishwarya-agrawal commented on #169
yes, Regressor worked!

[2020-08-28 19:23] Optimox commented on #169
Cool, let us know if you had good results using Tabnet! Always cheerful when someone does!

[2020-08-28 19:23] #169 closed

[2020-08-31 05:11] abditag2 opened #172 "Training speed is very slow."
## Feature request
This more of a discussion point rather than a feature request. We observed that the training of TabNet is very vert slow which makes sense given the sequential nature of the model. I want to make sure that others have experienced the same slow training speed and if there is anything to mitigate it?

**What is the expected behavior?**
NA

**What is motivation or use case for addi

[2020-08-31 07:38] Optimox commented on #172
Well I guess you’ll need to define « slow », « very » and « very very slow » if you want someone to relate.

What is your training time? on which dataset? What is your setup?

[2020-09-03 03:11] athewsey commented on #163
Hi @eduardocarvp just checking, what's the timeline for next release to include this fix? I have some py36 environments I'd like to revert to PyPI rather than develop fork!

[2020-09-03 03:33] aishwarya-agrawal opened #177 "Train like keras's fit_generator"
## Feature request

**What is the expected behavior?**
For large datasets that do not fit into RAM, can we have keras fit_generator type training ?

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?**
yes

[2020-09-03 17:41] Optimox commented on #177
This feature has already been mentioned in features before, I think it’s an important feature but I think we need a list of the most common files type used (hdf5, parquet...).

What would be your usage?

I think it would not be too difficult to implement in an easy way for users, like giving the path to the file instead of a numpy matrix as X_train, X_valid...
But there are quite a lot of side eff

[2020-09-04 03:38] aishwarya-agrawal commented on #177
I have data in parquet format which is split across multiple files which is why a fit_generator type of functionality works best for me where I modify the data in the generator and yield the expected the values.

[2020-09-04 09:52] yiyiyi4321 opened #178 "How to pretrain models?"
## Feature request

**What is the expected behavior?**
pretrain models

**What is motivation or use case for adding/changing the behavior?**
This behavior is mentioned in this paper

**How should this be implemented in your opinion?**
A function like  pretrain

**Are you willing to work on this yourself?**
yes

[2020-09-04 09:56] Optimox commented on #178
Hi @yiyiyi4321,

Do you mean unsupervised pretraining?

This has not been implemented yet but it’s high in the priority list. Hopefully I’ll have time to implement it in the coming month!

[2020-09-04 10:18] yiyiyi4321 commented on #178
ok, Thank you!

[2020-09-04 10:18] #178 closed

[2020-09-04 11:28] Optimox commented on #177
Ok, I’m not familiar with Keras fit_generator, I’ll take a look to get some inspiration

[2020-09-08 09:13] carter840826 opened #180 "Final explain_matrix doesn't seems right."
From the example notebook, I tried plot final explain_matrix.
And here is my question.

![image](https://user-images.githubusercontent.com/57344651/92456945-27311b80-f1f6-11ea-9007-a3eed90ee79a.png)
As fig showing above, the sum of mask value form single prediction isn't 1.
Just like:
![image](https://user-images.githubusercontent.com/57344651/92457166-7a0ad300-f1f6-11ea-9505-f8c21ace4e81.png)
,wh

[2020-09-08 09:18] Optimox commented on #180
Hi @carter840826,

Thanks for reporting this.

Is there a way to reproduce this in order to investigate more?

Could you share a minimal reproducible code showing this? Or at least give more information on your experiment?

Thanks!

[2020-09-08 09:28] carter840826 commented on #180
Hi,

What I did just was the example you provided.
https://github.com/dreamquark-ai/tabnet/blob/develop/regression_example.ipynb

![image](https://user-images.githubusercontent.com/57344651/92458698-55aff600-f1f8-11ea-8d9c-e6e7fec30601.png)
As you can see, the sum of mask value from single prediction isn't 1.
Instead of what paper shows:
![image](https://user-images.githubusercontent.com/57344651/

[2020-09-08 10:20] Optimox commented on #180
Yes you are right the implementation differs from the original paper, we are not performing the normalization. As you can see from your examples the rows are not summing to 1 (even the 'working' one)

As a quick work around you can do it very easily by dividing by the sum of each row and you'll get the same results as in the paper.

Why don't we do it? I think it's because I don't fully agree with

[2020-09-08 11:40] kkpsiren opened #181 "Upper limit of data for training"
**Describe the bug**

**What is the current behavior?**
There seems to be upper level of data to be inputted for training

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
returns
[code]

**Expected behavior**

I am expecting the input data size should not constrain the model behavior. Also it would be great if batch loading from hdf files would be available.

**

[2020-09-08 11:47] Optimox commented on #181
The error message is not clear, but I think you only have one label in your targets `np.random.randint(0,1,X_train.shape[0])` creates only 0 could you try the same thing but changing to `np.random.randint(0,2,X_train.shape[0])` ?

[2020-09-08 11:59] kkpsiren commented on #181
The error message stays the same. If I trim my dataset only have max 2^24 rows it works.

[2020-09-08 12:28] Optimox commented on #181
hmm, could you try with weights=0 ?

[2020-09-08 12:52] Optimox commented on #172
well feel free to reopen with new piece of information!

[2020-09-08 12:52] #172 closed

[2020-09-08 13:22] eduardocarvp commented on #181
You probably saw it before, but just to document here: https://github.com/pytorch/pytorch/issues/2576. Indeed it looks like it is a weight sampler problem.

[2020-09-08 14:21] Optimox commented on #181
yes I think this is not a pytorch-tabnet bug but more of a pytorch limitation so I guess if you really have a huge dataset you won't be able to use weight sampler. Setting weights to 0 should solve your problem hopefully!

[2020-09-09 01:05] carter840826 commented on #180
I see.
Thanks a lot for explanation!!

[2020-09-09 07:54] Optimox commented on #177
I'm closing this one as it's directly related to #143, feel free to discuss more in depth in the other issue. Thanks!

[2020-09-09 07:54] #177 closed

[2020-09-09 11:40] Optimox opened #183 "Speed Up The Library"
## Feature request
We should try to implement all these training tricks in order to speed up as much as possible the implementaiton : https://www.youtube.com/watch?v=9mS1fIYj1So&ab_channel=ArunMallya

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourse

[2020-09-09 11:48] Optimox commented on #183
Good list here :

https://twitter.com/karpathy/status/1299921324333170689/photo/1

also we could use an optimizer specialized in large batch size (LARS, LAMB, NVLAMB, NovoGrad?)

[2020-09-09 14:46] kkpsiren commented on #181
Yes this looks like it is a pytorch limitation... What a bummer still

[2020-09-09 14:46] #181 closed

[2020-09-11 12:51] #159 closed

[2020-09-11 13:51] Shiro-LK opened #185 "display training and validation loss, question"
Hi,

Thanks for sharing an implementation of tabnet, it is very usefull.

I have two question regarding the display of the training/validation loss :
- why there is a "minus" (-) before the value of the loss ?
- why the stopping loss for regression is use MSE instead of the loss_fn chosen in fit function ?

Thank for the help !

[2020-09-11 14:00] Optimox commented on #185
Hello @Shiro-LK,

Basically the current feature for early stopping is not so good.
You can't provide your custom metric for early stopping: for classification it's AUC, for regression it's MSE

This is a feature we need to implement.
Early stopping loss and loss function for training are not always the same, for classification it's common to validate score with AUC but you can't use AUC as a loss

[2020-09-11 14:11] vikas-rc opened #186 "RuntimeError: index -1 is out of bounds for dimension 1 with size 779"
Hi,
Thanks for sharing the implementation of TabNet, it is very useful.
how to fix this. why I get this error?

the shape of df's are:
train_X.shape, Val_X.shape, train_y.shape, Val_y.shape
((74676, 779), (18670, 779), (74676,), (18670,))

Parameter using:
clf = TabNetClassifier( # default tabnet hyperparameters
    n_d=64, n_a=64, n_steps=5,
    gamma=1.5, n_independent=2, n_shared=2,
    lambda_

[2020-09-11 21:06] Optimox commented on #186
Hi, it's been a long time I haven't seen this good old error.

If I remember correctly I think this is due to the presence of NaNs or inf values in your training data, could you please check that?

@eduardocarvp do you remember this error?

[2020-09-11 21:14] #160 closed

[2020-09-12 05:23] vikas-rc commented on #186
@Optimox I have fixed inf value and the model is training now. Thank you.

[2020-09-12 11:05] Optimox commented on #186
Glad to know that it's working!

[2020-09-12 11:05] #186 closed

[2020-09-12 13:50] kkontoudi opened #187 "Unsupervised pretraining"
## Feature request
I think there is no way to do unsupervised pretraining in the implementation.Please correct me if I am wrong.

**What is the expected behavior?**
Having a way to do pretraining before the classification or regression task.

**What is motivation or use case for adding/changing the behavior?**
The original paper of TabNet

**How should this be implemented in your opinion?**
I have

[2020-09-12 14:37] Optimox commented on #187
Yes you are right, this is not available yet.

The unsupervised training part has been added later in the revised version of the paper, so we did not implement it initially.

I think it's a good feature to add but I had a look at the paper recently and it's not very clear how do they perform this. There are a lot of different interpretation from the little information given, so I think it's not su

[2020-09-12 18:26] monk1337 commented on #167
@Optimox  Thanks for help, I tried what you suggested and wanted you to take a look
I am switching from Tensorflow to Pytorch, If you could take a look into the code, grad, loss and other things are at right place?

Here is small network I am building with dnn network

[code]

I am using the Tabnet loss like this :

[code]

Here is working minimal example , Please take a look

https://colab.resear

[2020-09-13 17:06] Optimox commented on #167
I had a quick look, colab code looks ok. Maybe I would just add a sigmoid activation at the very end of your classifier since you want to perform binary classification.

Well, if you only use the network class you don't have the benefits of the model class. So you'll need to have a look at the `explain` function here https://github.com/dreamquark-ai/tabnet/blob/f0e0b54fb6333aeff3ad62139d6acbd7d0a7

[2020-09-13 17:26] monk1337 commented on #167
@Optimox  I am using nn.BCEWithLogitsLoss() loss function which automatically applies the the Sigmoid activation of last layer? Do I need to apply again?

Can I use model class to just get the feature vectors ( as I am getting now) while also taking advantage of explain and other functions from model class?

[2020-09-13 21:12] monk1337 commented on #167
@Optimox  I am trying to train this network but getting `"RuntimeError: CUDA error: device-side assert triggered"` I changed the learning rate from 0.001 to 0.0001 and it run for 100 epoch and then giving error, If I am making lr more smaller, it's giving error little late.

Is it because of gradient exploding?

[2020-09-14 06:42] Optimox commented on #167
you can set `device_name="cpu"` to get a clearer errror. This is usually  due to an error with the loss, I think you have a label class mismatch or somethiing.

[2020-09-14 13:42] monk1337 commented on #167
It was giving RuntimeError: index -1 is out of bounds for dimension 1 with size `x`

I reduce the batchsize with this formula :
`number of samples % batchsize = 0`

It's working on both cpu and gpu now.

[2020-09-14 13:42] monk1337 commented on #186
Just for future reference, posting my answer here.

I was also facing same issue,

It was giving RuntimeError: index -1 is out of bounds for dimension 1 with size `x`

I reduce the batchsize with this formula :
`number of samples % batchsize = 0`

It's working on both cpu and gpu now.

[2020-09-14 15:00] Optimox commented on #186
@monk1337 actually this might be due to the last batch having only one element, could you set drop_last to True and see if it works for any batch_size?

[2020-09-15 18:07] AlbertoCastelo opened #188 "Model does not select appropiate Features"
Hello guys.

Awesome job with this library :rocket:. I have an issue with it but is neither a bug or a feature request. It is more about the model itself.

I did a spike using TabNet to better understand if this model could be useful to provide explainability on timeseries data. All my code is in this repository: [Spike](https://github.com/AlbertoCastelo/tabnet-timeseries-spike)

I was expecting t

[2020-09-16 07:56] Optimox commented on #188
Hello @AlbertoCastelo,

Interesting experiment. Thanks for sharing!

## About the experiment
First let me wrap up what I understood from your experiment (please correct me if I'm wrong):
- you have a time serie problem that you are treating with auto regressive features that you are creating from past time points
- you already know that feature 1 and 12 have much more predictive powers than others

[2020-09-18 13:38] NickYi1990 opened #189 "Performance is bad"
I test this method on many tabular dataset, which is much larger than dataset used in notebook example, the performance is really bad... is there anyone have the same situation with me?

[2020-09-18 13:39] eduardocarvp commented on #189
Could you share the dataset and the parameters you have used for training?

[2020-09-18 13:45] Optimox commented on #189
Hello @NickYi1990,

I'm sad to know that you are not able to get the performance you'd like.
But how are you hoping to receive some help with such a complaint?

We'd be happy to have a new dataset to try TabNet on and improve based on the (poor) results.

But please be constructive and share more information in order to reproduce and help.

Also there is a benchmark issue #127 here, if you took th

[2020-09-19 05:07] Ankur-singh opened #190 "`load_model` method is not working"
**Describe the bug**

When you try to load a model after training, you get an `UnsupportedOperations` error.

**What is the current behavior?**
When try to load the model, it gives an error.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create a model
2. Train the model and save it
3. Try loading the model again

**Expected behavior**
It should load the model wit

[2020-09-19 08:25] Optimox commented on #169
@aishwarya-agrawal new TabNetMultiTaskClassification is out (in develop branch) check it out

[2020-09-19 08:28] Optimox commented on #190
Hello this has already been pointed here #163
It has been solved already in develop branch, you have 3 options:
- switch to develop
- switch to python 3.7
- wait for next release

Feel free to reopen and give more information if you think that this is not related.

[2020-09-19 08:28] #190 closed

[2020-09-20 08:37] AlbertoCastelo commented on #188
Hey. Thanks for the thorough reply.

You got the experiment right. If followed on your advice and run a hyperparameter search on those parameters. The validation score obviously improves for both experiments in the best cases however, I was not able to get close to the 2-features experiment.

Reviewing the learning curves (that you can see in this [notebook](https://github.com/AlbertoCastelo/tabne

[2020-09-20 10:46] Ankur-singh commented on #190
Thanks @Optimox. I will give it a try.

[2020-09-20 16:08] Optimox commented on #188
So what is your best score in validation/test set set with the hyper search (for second experiment)?

The thing is usually lambda_sparse should be small compared to the loss, but since you are doing a regression task the ranges are not clear. So maybe every experiment with lambda sparse >1 does not make sense (and I can't tell which is which in your notebook).

One other thing is that you are plot

[2020-09-21 12:37] NickYi1990 commented on #189
The code is a little mess and can not run directly, but you can know my way to split dataset and the parameter i use for training。the valid and test performance is not as good as my vallina full connected network which is showed below~
![image](https://user-images.githubusercontent.com/13381684/93767102-10ed7b80-fc4a-11ea-92a4-284a15686c01.png)

[code]

[2020-09-21 15:44] Optimox commented on #189
- Thanks so this is census-income dataset right?

We have an example notebook to show how TabNet works : https://github.com/dreamquark-ai/tabnet/blob/develop/census_example.ipynb.
Results look more than ok to me, they are on par with an XGBoost model, which I guess perform better than a "vanilla dnn" whatever that means.

- > The code is a little mess and can not run directly

Sorry to hear that,

[2020-09-21 15:44] #189 closed

[2020-09-21 17:08] NickYi1990 commented on #189
* it can run, but need some modification
* those datasets are company's, is it not convenient to share out
* I notice in the notebook, **you treat all columns as categorical**, is this is the default best setting in tabnet?

[2020-09-21 18:50] kkontoudi commented on #187
Hello,

Thanks for the very quick reply. I will start studying more in depth and work on an implementation but I cannot promise anything (yet). Do you have some guidelines for contributions?

And BTW awesome work on this library (I didn't say it on my first message)

[2020-09-22 03:15] NickYi1990 commented on #189
I create a [colab](https://colab.research.google.com/drive/1Z-bbZr5gy7X7zQG1bencbhGCXum8g8Xw?usp=sharing) notebook, you can check the performance of lightgbm and tabnet, there's a big difference.

[2020-09-22 08:51] Optimox commented on #189
maybe try a large patience

[2020-09-22 09:31] ZacheryAU opened #191 "A problem of not setting validation set"
Hi,
Thanks for the great job of reproducing TabNet. I tried it on our project and as our train-test division is inflexible so that validation set were not set. Then the problem happened:
`assert X_train.shape[1] == X_valid.shape[1], "Dimension mismatch X_train X_valid"`
as X_valid is None, the error occurred : AttributeError: 'NoneType' object has no attribute 'shape'

[2020-09-22 10:37] Optimox commented on #191
hey @ZacheryAU,

It's true that at the moment we don't allow not to have a validation set explicitly given, but it's quite easy to overcome:
1- simply pass your training set as a validation set and everything will run ok (then you'll need to decide the number of epochs to train as early stopping won't work correctly)
2- or split your training with a kfold to get a validation set

[2020-09-22 11:48] Optimox opened #192 "Add a check nan to throw clear error"
## Feature request
Simply adding a check nan and throwing a clear error.

**What is the expected behavior?**
same as above

**What is motivation or use case for adding/changing the behavior?**
Avoid this kind of uninformative error message :
`~/anaconda3/envs/python3/lib/python3.6/site-packages/pytorch_tabnet/sparsemax.py in _threshold_and_support(input, dim)
     74
     75         support_size =

[2020-09-23 02:27] NickYi1990 commented on #189
I really appreciate the work u did and the idea of paper, I tried many times and can not reach a similar performance, could u try to tune the Tabnet to let it get similar performance as lightgbm? and could u reopen the issue to let more people join in to find where's the problem? thanks!

[2020-09-23 07:30] Optimox commented on #187
Hey!

Good to know that you want to contribute!

About the guidelines, they are pretty standard:
- you’ll need to pass the CI
- it would be good to have a notebook example on this feature
- code changes should be minimal
- number of commits should be minimal and their naming should be clear and follow  «feat: anything you want »
- feel free to create your PR early and mark it as WIP so that we can

[2020-09-24 04:30] aishwarya-agrawal commented on #169
Awesome!

[2020-09-24 09:05] #180 closed

[2020-09-27 15:36] john-mai-2605 opened #194 "Input as a DataFrame will have KeyError"
**Describe the bug**

My data (X) are Panda dataframes, and labels (y) are NumPy arrays. Normally, sci-kit-learn estimators can handle this. However, TabNet seems to lack this feature (and accept only NumPy input).
Of course, I could just convert X to np array before feeding to TabNet, but it is much better if this is handled automatically.
**What is the current behavior?**
KeyError
**If the curre

[2020-09-27 15:40] Optimox commented on #194
Hello @john-mai-2605,

It's definitely a feature that could be added, even though it does not seem super high priority to me, but I get that it can be annoying.

[2020-10-09 16:25] Optimox commented on #191
This is now solved by #193, you'll need either to use develop branch or wait for the next release which should come soon!

[2020-10-09 16:25] #191 closed

[2020-10-09 16:26] Optimox commented on #185
@Shiro-LK this has been solved by #193, things are now much clearer, either use develop or wait for the next release in order to use it.

[2020-10-09 16:26] #185 closed

[2020-10-09 16:27] Optimox commented on #123
Done by @queraq in #193 thanks!

[2020-10-09 16:27] #123 closed

[2020-10-09 16:28] Optimox commented on #4
CI is now available

[2020-10-09 16:28] #4 closed

[2020-10-11 16:47] tmontana opened #197 "Unable to score on CPU if model trained on GPU?"
**Describe the bug**

getting errors:
RuntimeError: cuda runtime error (100) : no CUDA-capable device is detected at /pytorch/aten/src/THC/THCGeneral.cpp:47

when trying to run .predict_proba on a GPU trained model even though it was loaded for CPU.

all_clf=torch.load(filename,map_location=torch.device('cpu'))

**What is the current behavior?**

**If the current behavior is a bug, please provide

[2020-10-11 17:52] Optimox commented on #197
Hello,
Could you please provide more information? like the exact code you are running?

Are you using the library loading scheme?

[code]

If yes you might wanna try `loaded_clf.device_name='cpu'`

[2020-10-11 19:05] tmontana commented on #197
I was using torch.save and torch.load and getting a number of errors on top of the CPU issue.  your recommendation worked for the errors and I will try it on CPU tomorrow - looking good so far.  Thanks a lot for the help.

[2020-10-12 03:14] pmdy opened #198 "Training classifier does not stop after reaching max_epochs"
**Describe the bug**

Tabnet classifier does not stop learning after exceeding max_epochs.

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**

It should stop training after exceeding the given max_epochs.

**Screenshots**

[code]

**Other relevant information:**
poetry version:
python version:
Operating System:
Ad

[2020-10-12 06:18] Optimox commented on #198
Hello @pmdy,

From the code sample you shared you are actually asking the model to be fitted twice.

the first `tab_model.fit(
  X_train.values, y_train.values,
  max_epochs=20
)` will train for 20 epochs as you can see on the plots.

Then you are asking for a second fit with `tab_model.fit(X_train.values, y_train.values)`.
So the model is re-training for the default number of epochs which is `100

[2020-10-12 06:28] tmontana commented on #197
Hi.  Doesn't seem to work.  Here is what I'm doing:

on a machine with GPU:

saved_name=one_clf.save_model('tabnet_model')

on a machine with CPU:

loaded_clf = TabNetClassifier()
loaded_clf.load_model(saved_name)

I also tried saving with:

one_clf.device_name='cpu'
saved_name=one_clf.save_model('tabnet_model')

or:

loading with:

loaded_clf = TabNetClassifier()
loaded_clf.device_name='cpu'
load

[2020-10-12 06:37] pmdy commented on #198
Well, this is embarrassing... thanks haha :+1:

[2020-10-12 06:37] #198 closed

[2020-10-12 12:10] Optimox commented on #197
@tmontana thanks for the detailed report, I'll try to look into it, but @eduardocarvp is on it. We are probably missing the `map_location=torch.device('cpu') ` part in `load_model` method.

[2020-10-12 16:29] #192 closed

[2020-10-12 17:24] Optimox commented on #183
- [x] `pin_memoery=True`
- [x] replace optimizer.zero_grad()

[2020-10-12 22:07] eduardocarvp commented on #197
Thanks @tmontana and @Optimox. Indeed a `map_location=self.device` seems to work for me. I trained a model on GPU and then tested loading on an environment where `torch.cuda.is_available() == False` and it worked, no problems.

The PR is linked above.

[2020-10-13 07:28] Optimox commented on #197
@tmontana the bug is fixed on develop but we made some breaking changes before, so it might not work to load your previously trained model after the fix.

On thing you can do however is loading your model manually by copying each line of the load_model method and run it after replacing self with clf.

Otherwise you can refrain from develop and then it should work.

We’ll try to make a release toda

[2020-10-13 09:01] tmontana commented on #197
Hi.  I have tested it already.  Indeed having a problem with existing models so think I will retrain them.  Thanks a lot for the help.

[2020-10-15 03:43] jrfiedler opened #203 "Docstring edits"
I'm offering to edit docstrings in a new PR. I think I saw that this repo encourages opening issues before PRs.

**Describe the bug**

Docstrings have a variety of minor issues. Some examples:
- docstring has wrong parameter name ([example](https://github.com/dreamquark-ai/tabnet/blob/develop/pytorch_tabnet/metrics.py#L281))
- indentation isn't standard NumPy format ([example](https://github.com/d

[2020-10-15 07:17] eduardocarvp commented on #203
Hi @jrfiedler, thank you for your issue!
Sure, this would be great! We wish to have a Sphinx documentation page and this would help us a lot. So go ahead, we can merge it as soon as it's done :)

Could you keep the numpy-style for the docstrings?

[2020-10-15 09:50] athewsey opened #204 "load_model map_location not replicated to Py3.6 fallback branch"
**Describe the bug**

The recently-added `map_location` pass-through to `torch.load()` (from c2b560e72bc01e34e8dba7578f239e37bbd6782c) was not replicated to the Python 3.6 fallback branch of the code - so in Py36 we are unable to load a model trained on GPU in a CPU-only environment.

**What is the current behavior?**

Cannot `load_model()` in a Python 3.6, CPU-only environment if the saved model

[2020-10-15 09:56] Optimox commented on #204
Thank you, I'll merge your fix as soon as the CI finished!

[2020-10-15 13:28] psinger opened #206 "Specifying device"
It is impossible to manually specify the device:

`UnboundLocalError: local variable 'device_name' referenced before assignment`

The reason seems to be this line:
https://github.com/dreamquark-ai/tabnet/blob/develop/pytorch_tabnet/abstract_model.py#L70

[2020-10-15 13:34] Optimox commented on #206
Thanks @psinger, looks like the refacto introduced some bugs, I'm on it!

[2020-10-15 13:36] athewsey opened #207 "prediction functions can't consume already-on-GPU tensors"
**Describe the bug**

Pinning DataLoader memory (as introduced by 5a013596da597263aaf1b9f385732fc2442dda96) does not seem to be compatible with ingesting an already-on-GPU `torch.Tensor` into the DataLoader.

Some inference/serving frameworks may already pin the input data batch to GPU before calling the the user code where `TabModel` is invoked - which would require costly unloading to CPU & relo

[2020-10-15 13:56] athewsey commented on #204
I wonder if it would be feasible or desirable to modify CircleCI config so that some tests run on different Python versions, as a lightweight way to try and protect against regressions / drive robustness? Seems like it might be possible to define additional executor containers, but IDK if there are cost implications or anything for doing that...

[2020-10-15 14:29] Optimox commented on #204
I think this would indeed be feasible, it would simply make the CI longer. But why not! @Hartorn ?

[2020-10-15 14:31] #206 closed

[2020-10-15 14:49] #204 closed

[2020-10-15 20:50] #207 closed

[2020-10-16 09:54] tmontana commented on #197
Hi all.  Unfortunately the new version (2.0.1) has not solved the issue for me.  Here is what I'm doing:

on GPU machine:

   saved_name=one_clf.save_model(test_model)

on CPU machine:

    loaded_clf=TabNetClassifier()
    loaded_clf.load_model(saved_name)

output:

Device used : cpu
Device used : cuda
---------------------------------------------------------------------------
RuntimeError

[2020-10-16 11:55] Optimox commented on #197
Does this work?
[code]

[2020-10-16 11:57] tmontana commented on #197
No because it fails at

loaded_clf.load_model(saved_name)

so never makes it to next line

[2020-10-16 12:06] tmontana opened #211 "save_model does not retain scheduler function"
**Describe the bug**

model parameters change after save and re-load
**What is the current behavior?**
after training one_clf:

print(one_clf)

TabNetClassifier(n_d=16, n_a=16, n_steps=5, gamma=1.25, cat_idxs=[], cat_dims=[], cat_emb_dim=1, n_independent=2, n_shared=2, epsilon=1e-15, momentum=0.3, lambda_sparse=0.0001, seed=42, clip_value=2.0, verbose=1, optimizer_fn=<class 'torch.optim.adam.Adam'

[2020-10-16 12:13] tmontana opened #212 "different score results (predict_proba) before and after save/load model"
**Describe the bug**

I would expect scoring by a trained model to be the same after saving and reloading the model.  The difference is slight but given I am averaging a number of models it ends up being significant for my use case.

**What is the current behavior?**
see above

**If the current behavior is a bug, please provide the steps to reproduce.**

preds=one_clf.predict_proba(X_test)

print(

[2020-10-16 12:50] Optimox commented on #197
@eduardocarvp was it working for you?

[2020-10-16 12:52] Optimox commented on #211
Well we are not saving the scheduler because saving the model is mostly used in order to make predictions after training your model, I don't see why you would need to keep the scheduler.

If you want to retrain you can just define a new scheduling scheme. Why can't you just define a new one if you need one?

[2020-10-16 12:56] tmontana commented on #211
No worries - I'm used to pickling models so they retain 100% of the same info as during training and wanted to make sure this was expected behavior.  closing now.  Thanks

[2020-10-16 12:56] #211 closed

[2020-10-16 12:58] Optimox commented on #212
It seems it's machine precision order no? something like 1e-8 difference?

[2020-10-16 12:59] eduardocarvp commented on #212
Hey @tmontana .

The differences I'm seeing are probably related to float precision on your machine. Are you saving/loading on different environments?

[2020-10-16 13:00] eduardocarvp commented on #197
It had worked for me. I'll test it again and post the results here.

[2020-10-16 13:00] tmontana commented on #212
@eduardocarvp no it's the same environment. I literally save and reload just after training.

[2020-10-16 13:02] tmontana commented on #212
Yes indeed it's a small difference.  I will run more tests to see if the difference is of that level for the whole test set.

Thanks

[2020-10-16 13:06] tmontana commented on #212
My issue was that feeding the training set to the trained model for scoring should obviously result in the same predictions whether or not the model was just trained or reloaded from disk.  The difference triggered some errors on tests with zero tolerance.

My workaround is to save and reload the models before any scoring whatsoever.  With that I should get the same result feeding the train set fo

[2020-10-16 13:14] Optimox commented on #212
You should probably make tests with some tolerance up to some precision, I think this is pytorch related more than tabnet related.

[2020-10-16 14:17] #212 closed

[2020-10-17 04:41] MtDersvan opened #214 "TypeError: ufunc 'isinf'/'isnan' not supported for the input types"
**Describe the bug**
During `fit()` the `check_nans()` function throws the following errors:
[code]

[code]

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
Train features are of type {dtype('int64'), dtype('float64')}
Labels are of type {dtype('O')} // <- this is probably the issue, as the labels are strings, though all estimators su

[2020-10-17 06:59] athewsey commented on #197
^ Just to add, I recently checked and v2.0.1 did successfully fix the issue for me, so must be something specific to this environment.

I `save_model` and load with:

[code]

...and see a single `Device used : cpu` output, so seems like the issue is related to that second cuda print...

Maybe more info on environment versions e.g. Python, PyTorch, what OS, etc would help?

[2020-10-17 08:21] tmontana commented on #197
yes indeed I'm not sure why it says Device used : cpu then Device used : cuda

My environment:

conda create --name tabnet python=3.8
conda activate tabnet
pip install git+https://github.com/dreamquark-ai/tabnet.git
pip install nbformat pandas
conda install ipykernel
python -m ipykernel install --user --name tabnet

Python 3.8, PyTorch is installed directly by tabnet install, OS is Ubuntu 16

Than

[2020-10-17 08:34] Optimox commented on #214
Hello @MtDersvan,

I've run through this error before, it's not really a bug but an unclear error.
I think you might have some booleans in your training set, numpy won't allow to `np.isnan` on this. If you make sure to convert boolean into int or float you should be all right.

Let me know if this solves your problem.

I'll think of a way to avoid this.

[2020-10-17 08:37] Optimox commented on #214
Thanks @MtDersvan,

Looks like I accidently killed this feature with the check nan, I'll correct that. Thank you!
In the meantime you could probably label encode your targets.

[2020-10-19 07:30] Optimox commented on #197
Have you tried with python 3.7?

[2020-10-19 07:42] tmontana commented on #197
same result:

Device used : cpu
Device used : cuda

then error message about no GPU

[2020-10-19 08:51] psinger commented on #206
Thanks - it seems that the code still uses GPU through pin memory when using CPU.

[2020-10-19 09:53] Optimox commented on #206
@psinger thanks for pointing out.

I thought pin_memory would be disable automatically by pytorch if tensors are on cpu.
You can set pin_memory to False in the model parameters.

In your opinion, should we set default pin_memory to False? Or automatically switch to False when using cpu?

[2020-10-19 09:54] psinger commented on #206
I believe an additional False setting when using CPU makes sense, should not hurt in any way.

[2020-10-19 09:56] Optimox commented on #206
ok thank you, will make the update

[2020-10-19 19:57] Optimox commented on #197
@tmontana any news? it's hard to help if can't reproduce the error...

[2020-10-20 09:25] tmontana commented on #197
Hi.  As you saw I tested on py37 with same results.  I'm out of testing ideas to figure out where the second Device used: cuda message comes from.  One thought is that I am running this on VMs within Azure ML.  They are standard Ubuntu 16 VMs with Conda installed.  I checked that on a non-GPU VM nvidia-smi does not work and correctly reports that no GPU drivers are available.  I'll try it on a VM

[2020-10-20 17:59] RoyHirsch opened #216 "Support in per sample weight"
## Feature request

**What is the expected behavior?**
Adding an option for per samples weight - useful for many scenarios with imbalance dataset

**What is motivation or use case for adding/changing the behavior?**
Imbalance datasets

**How should this be implemented in your opinion?**
Custom loss_func, change the call for calc the loss and support new arguments at "fit" (like in xgboost)

**Are

[2020-10-20 18:11] kmedved commented on #216
Isn't this already supported per #145?

[2020-10-20 18:19] RoyHirsch commented on #216
The current "weights" implementation is referring to "per class" weights.
My intention is to support "per sample" weights.
As in xgboost sample_weight
https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier.fit

There are many scenarios where this is needed (sample weight is supported in all DT implementations)

[2020-10-21 08:07] Optimox commented on #216
Hello @RoyHirsch,

As mentioned by @kmedved, per sample weight is already available.
For classfication weights can be:
- 0 : no weight sampling
- 1 : balanced weight sampling
- dict : per class weight
- np.array : per sample weight

For regression and multitask, only per sample weight is allowed.

What's your use case?

[2020-10-21 16:47] #203 closed

[2020-10-26 09:04] Optimox commented on #216
Closing this, feel free to reopen if we missed something.

[2020-10-26 09:04] #216 closed

[2020-10-26 09:09] eduardocarvp commented on #197
@Optimox @tmontana

I think I finally have an idea where this is coming from.
When defining `TabNetClassifier` if `device_name` is left untouched it will automatically be set to `auto` and in this case there should be no problem alternating between CPU and GPU.

However, if when defining the classifier you explicit `device_name='cuda'` then it becomes a loading parameter and it will try to set it

[2020-10-26 09:21] tmontana commented on #197
That's amazing.  Thanks for looking into it!

[2020-10-26 09:21] #197 closed

[2020-10-27 08:17] jamescolless opened #219 "Add ability for per-sample weights in regression problems"
## Feature request

**What is the expected behavior?**

Add the ability to use per-sample weights in regression problems.

**What is motivation or use case for adding/changing the behavior?**

For many regression problems we care more about getting certain predictions right than others. This is a common feature of all other ML models (xgboost, lgbm, H20 etc. etc.)

**How should this be implemented

[2020-10-27 09:16] brunovilar commented on #219
To be honest, I almost suggested the same feature 2 weeks ago, but for classification. I noticed that someone also suggested the [same recently](https://github.com/dreamquark-ai/tabnet/issues/216). I did not post it because, while I was checking the code to see what to change, I noticed that the code already considers the option to provide instance weights as a list.

Maybe it is the case of updat

[2020-10-27 13:07] Optimox commented on #219
@brunovilar we implemented a very standard way of dealing with class imbalances.

There is no fundamental difference between changing the sampling weights and changing the loss weight.
It's just two ways to deal with the same problem, we opted for the simplest one.

However, one can easily customize the loss function in order to give importance to specific weights.

- If the weights are directly r

[2020-10-27 13:32] brunovilar commented on #219
@Optimox, for me, the current implementation is already enough. I mentioned the documentation for classification because it seems to only provide information for non-personalized instance weights. I could only identify that TabNet already provides what I need after checking the code and since this doubt is happening "frequently", maybe updating the documentation allows other people to identify thi

[2020-10-27 15:21] jamescolless commented on #219
Ah so perhaps this is indeed done and only the documentation confused me! To be clear, if I pass a numpy array of weights when I call model.fit() for a regression problem, it will then calculate the *weighted*  mse and optimize on that quantity?

[2020-10-27 15:43] EvilPsyCHo commented on #187
I was also curious about this,  Optmox build a great project , clean code and model performence meet expectation in my task.
but as paper show, using pre-unsupervised-training can improve a big gap.

[2020-10-27 15:44] EvilPsyCHo commented on #187
Is there any progress or ideas in this issue?

[2020-10-27 17:06] kkontoudi commented on #187
Hello,

I've made some progress on the implementation (defining a TabNetPretrainer network) but there is still work to be done to implement the model class.
@Optimox let me know if you want me to already open a PR and maybe give some details about how I see the next steps. The latest refactoring will be of great help as I need to reinitialize the priors at every epoch.

[2020-10-27 22:03] Optimox commented on #219
@brunovilar yes the documentation should probably be improved, I'll try to work on it, thanks!

@jamescolless yes and no. You can add per sample weights for regression, but it won't computed a weighted MSE, instead it will randomly sample every line according to the given weights. So if you have a very large training set it would be equivalent to weighted MSE starting from first epoch, otherwise i

[2020-10-27 22:06] Optimox commented on #187
Hello @kkontoudi,
Timing is not the best for you, I just started a PR #220 with @eduardocarvp to implement self supervised pretraining.
But feel free to open a PR to share your implementation so that we can discuss about it.

@EvilPsyCHo as you can see, we're making some progress yes! :)

[2020-10-27 23:54] kkontoudi commented on #187
I have opened a PR https://github.com/dreamquark-ai/tabnet/pull/221 with what I have done so far. It is actually very similar to what you have in your PR  https://github.com/dreamquark-ai/tabnet/pull/220 @Optimox.
Feel free to close my PR once you have a look and let me know if we can somehow join efforts.

[2020-10-28 10:31] jamescolless commented on #219
Nope this all makes sense thanks!

[2020-10-28 10:32] #219 closed

[2020-10-28 10:33] jamescolless opened #223 "Multi-GPU Support"
## Feature request

**What is the expected behavior?**

Training across multiple gpus with near linear-speedup

**What is motivation or use case for adding/changing the behavior?**

Tabnet is rather slow on large datasets, can take advantage of single node multi-gpu training paradigm to speed this up.

**How should this be implemented in your opinion?**

Pytorch supports distributed training via t

[2020-10-28 18:59] pmdy commented on #223
Yes, please. It is very slow even with a Tesla P10 GPU on Colab.

[2020-10-29 08:12] #214 closed

[2020-10-29 15:11] Optimox commented on #223
I think it's doable, probably without much changes.

Feel free to open a PR!

[2020-10-30 18:21] tmontana commented on #197
Your fix works great by the way.  Thanks!

[2020-11-02 05:27] jrfiedler commented on #194
In `abstract_model.py`, the change from `check_nan` to Scikit-learn's `check_array` ([this line](https://github.com/dreamquark-ai/tabnet/blob/develop/pytorch_tabnet/abstract_model.py#L147)) could make this fix easier.

The line
[code]
could be changed to something like
[code]
which converts Pandas DataFrames and Series to Numpy arrays. There are a few other places that would need a similar change.

[2020-11-02 08:06] Optimox commented on #194
@jrfiedler this would work for classification but not for multi regression where targets are 2D.

Moreover, if allowing pandas dataframes we would need to check that the columns are the same, with the same order etc.. I personally think that this feature is at the very edge of the scope of the library. It seems really easy to pass `df_train.values` when using the library. For that reason I don't s

[2020-11-02 09:40] noklam opened #225 "Window 10x slower"
I am experiencing roughly 10x slower if I run this on Window. It still print cuda: True but I suspect it is not really using the GPU since the speed is roughly the same as I run with CPU.

[2020-11-02 09:46] eduardocarvp commented on #225
Hi @noklam , thank you for the issue.
I don't have a Windows machine I could use to test, do you @Optimox ?

[2020-11-02 09:54] Optimox commented on #225
@eduardocarvp nope...

Honnestly the only reason this could be slower in Windows is pytorch vs Windows. I don't see anything we can do about it.
@noklam are you comparing from the same machine? I don't see why Windows would make it slower to be honest.

[2020-11-02 09:55] noklam commented on #225
On Linux
![image](https://user-images.githubusercontent.com/18221871/97854424-654d4600-1d34-11eb-9c20-88adec762942.png)
On Window
![image](https://user-images.githubusercontent.com/18221871/97854442-6b432700-1d34-11eb-96b0-288e512e6330.png)

[2020-11-02 10:00] noklam commented on #225
@Optimox

Yes I am running on the same machine with GTX 1080 Ti and more than enough RAM. I don't think Window would slow down that much normally. I clone this code from a Kaggle Kernel and it is using Pytorch 1.7.

Does the implementation of using some distributed training out of the box that may not be supported well on Window?

[2020-11-02 10:22] Optimox commented on #225
There is no distributed training, we're not doing anything special.

What happens if you set the device to 'cpu' in linux ? If you have the same training time as in Windows I guess you are not really using  your GPU on Windows.

Can't really help much on this...

[2020-11-03 13:09] cuttlefish44 opened #226 "cat_dims missing from the model parameters of README"
This issue isn't related to code, but README.
As far as I see, it left cat_dims out on the model parameters.
(If my understanding is mistaken, please tell me.)

[2020-11-03 17:52] Optimox commented on #127
adding some kaggle links:
- https://www.kaggle.com/carlmcbrideellis/tabnet-a-very-simple-regression-example
- https://www.kaggle.com/carlmcbrideellis/tabnet-simple-binary-classification-example

[2020-11-06 11:53] Carl-McBride-Ellis opened #228 "Add an rmsle evaluation metric?"
## Feature request

The implementation of a root [mean squared logarithmic error regression loss](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_log_error.html) (`rmsle`) evaluation metric as an out-of-the-box option in TabNet, as it is frequently used in kaggle competitions.
I know one can write a little python class, to do this, but having it as an option would be

[2020-11-06 11:55] Optimox commented on #228
Thanks @Carl-McBride-Ellis , as discussed in Kaggle discussion this is indeed something interesting we can add. If you have more suggestions about classical metrics we could add by default please add them here in comments!

[2020-11-06 12:13] Carl-McBride-Ellis commented on #228
Fantastic; when it is available I shall update and subsequently re-run the kaggle notebook ["TabNet: A very simple regression example"](https://www.kaggle.com/carlmcbrideellis/tabnet-a-very-simple-regression-example) to reflect this option. (I am also sure that the score achieved by TabNet will also improve)

Many thanks!

[2020-11-06 18:58] Optimox commented on #228
@Carl-McBride-Ellis "I am also sure that the score achieved by TabNet will also improve" : please note that adding rmsle as default evaluation metric will help for ealrly stopping, but won't change anything in the results of the algorithm itself (will simply change the best epoch). The evaluation metric is not the loss function, but you can pass any loss function to tabnet by providing `loss_fn` i

[2020-11-07 08:16] Carl-McBride-Ellis commented on #228
Duly noted! Question: ¿does `loss_fn` have to be from those listed on [torch.nn](https://pytorch.org/docs/stable/nn.html#loss-functions), or is it possible to use a custom loss fn.?

Many thanks and all the best,
carl

[2020-11-07 10:40] Optimox commented on #228
no it does not have to be an official loss from pytorch, but it does have to be written in pytorch, that's the only constraint.

[2020-11-09 10:05] marmikp opened #230 "Loss and accuracy fluctuating too much on my custom data."
Wonderful work!!

I have some concerns regarding the training of tabnet on my own data.
I am trying to train tabnet on my custom data which has 43 categorical columns and 3 numerical columns, with 2+lac of sample splited in 80/20 training, and testing set. Parameters for training are {n_d=256, n_a=256, n_steps=5, gamma=1.5, n_independent=2, n_shared=2,lambda_sparse=1e-4, momentum=0.3,clip_value=2.

[2020-11-09 10:11] eduardocarvp commented on #230
Hi, @marmikp . I noticed that in the beginning fluctuations can occur due mostly to the batch-normalization layers that have not yet achieved some kind of convergence/stability. But that does not seem to be your case, since we're talking about epoch 230+.

Could you give more details on the problem you're trying to solve, please? Multiclass classification? Train/valid shuffled before split? Have y

[2020-11-09 10:16] Optimox commented on #230
Hello @marmikp

How much data sample does your validation set has?
How many classes do you predict in your problem?
What's the class imbalance you have?

There are many reasons for an accuracy to fluctuate as it's very sensitive due to thresholding. Maybe you could also try to add a learning rate decay, which will stabilize your training after some epochs.

The loss itself seems to be fluctuating

[2020-11-09 10:26] marmikp commented on #230
Thanks a lot for your quick reply.

Yes, I am training a model for the multiclass classification problem. There are 46 classes and I've shuffled all the data before splitting in train, test.
I've trained my custom neural network classifier with these data. And it reaches 94% accuracy without fluctuation in the accuracy.

2001046 samples are available after oversampling in training data. (167190 sa

[2020-11-09 10:45] Optimox commented on #230
@marmikp any reason to set such a high momentum?

With that amount of data I think you shouldn't need such a large number of epochs.

What I would try :
- leave momentum as default
- Step LR of 0.9 per epoch (train for 20 - 50 epochs max)
- you could also try to set a larger batch size to make things faster : maybe 16384
- do not oversample by adding rows to train, start with raw data and set weig

[2020-11-09 11:27] marmikp commented on #230
@Optimox

- We have used momentum as the default value used in forest_example.ipynb.
- Does step_lr mean step_size in the scheduler parameter? It is 20 in our example.
- We've already used batch_size of 16384.
- You told me that I should set weights = 1, but I am confused about which weights? Are these model parameters?
- Yes, I am using GPU.

Thank you :)

[2020-11-09 13:26] eduardocarvp commented on #230
As for the weights, it is a `fit` parameter:
[code]
When it is 1 it will use the inverse of the  occurrences of each modality on the target:

[code]

[2020-11-09 13:52] bennyjg opened #231 "Support for lr_scheduler.ReduceLROnPlateau has not been included in version 2.0.1"
**Describe the bug**

version 2.0.1 does not correctly support this scheduler (as far as I can tell).

**What is the current behavior?**

Scheduler ignores loss function and continuously reduces the LR every "patience" epochs.

**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**

Scheduler should reduce LR only when validation loss starts to grow fro

[2020-11-09 14:27] Optimox commented on #231
Hello @bennyjg,

What makes you think that the scheduler does not work as expected?

This line https://github.com/dreamquark-ai/tabnet/blob/2a9757d4002e7ba6117e53d140581147e651ab24/pytorch_tabnet/callbacks.py#L279 should take care of it

If you plot the learning rates (available with `clf.history`) don't you see the LR reducing when it's supposed to?

[2020-11-09 14:56] Optimox commented on #230
I think you can decay every epoch
with something like this :
[code]

As for the balancing weights see @eduardocarvp answer above, it's a sampling parameter to train more often on rare classes and so it helps dealing with unbalanced data.

[2020-11-09 21:37] bennyjg commented on #231
Hi @Optimox,
First, thanks for the clear reply :)
I rechecked my code and found out that I changed the eval_metric to 'auc' which means that I want to maximize the metric and I have to add the option of ' mode = "max" ' to the options for the scheduler to work correctly. So it was my bad that it did not work.
Thanks!

[2020-11-09 21:38] #231 closed

[2020-11-10 07:28] marmikp commented on #230
Thank you very much for your support.
We have relatively lesser fluctuation with these parameters.

Thanks a lot :)

[2020-11-10 07:28] #230 closed

[2020-11-12 05:37] marmikp opened #232 "Function 'PowBackward0' returned nan values in its 0th output."
Hello,

I am using the **code of self-supervised learning** for my own data. My dataset contains some columns which values are the same for all the samples, therefore the standard deviation is zero for those columns during calculating the loss and this is the reason for occurring this error. I can't remove those columns because in the future I'll have some different values rather than the same val

[2020-11-12 08:25] Optimox commented on #232
Hello @marmikp,

Have you been working from the branch of this PR for self supervised learning: #220 ?

It looks like a weird case to have a column with only one value. Note that pretraining that way probably won't help you much after because the model will have learn to predict the unique value. If you do not have access to rows with other values, maybe you could artificially change some values s

[2020-11-12 17:08] Forbu opened #233 "Add cat_dims params in readme"
## Feature request

**What is the expected behavior?**
To be operational after reading the readme for a user like me

**What is motivation or use case for adding/changing the behavior?**
I lost 30 min looking for what was missing in my code.

**How should this be implemented in your opinion?**
Just modify the readme

**Are you willing to work on this yourself?**
yes : we could just add this line i

[2020-11-12 17:17] Forbu commented on #233
And also if you write cat_emb_dim=1 and you didn't write any parameters for cat_dims, you are trick into thinking you are doing embedding (because their is no bug) but there is no embedding training, you are training on raw int.

[2020-11-12 19:15] rmozart opened #234 "Validation Loss on History Dictionary"
## Feature request

Validation Loss Key on the History Dictionary

**What is the expected behavior?**

New key pointing to a np.array with the validation loss stored

**What is motivation or use case for adding/changing the behavior?**

Best way to monitor and evaluate the model then only validation metric

**How should this be implemented in your opinion?**

**Are you willing to work on this your

[2020-11-14 04:28] noklam commented on #225
I am closing this issue as I found the problem seems to be i have a dataloader with num_worker>0 which has some adverse effect on Window rather than the model itself.

thanks for the help.

[2020-11-14 04:29] #225 closed

[2020-11-14 17:23] Optimox commented on #234
Hi,

I think it's a debatable request.
Each validation/validation metric you add is actually slowing your training process.

Nothing prevents you to add your loss_fn as an evaluation metric, so it seems very easy to me to monitor directly the loss on validation set if you want. I don't see a generic reason to do this systematically.

[2020-11-15 20:48] trulicup opened #236 "Other Optimizers"
## Feature request
Allow users to use other optimizers aside from adam.

**What is the expected behavior?**
Increase performance or training speed by trying out different optimizers.

**What is motivation or use case for adding/changing the behavior?**
It will give users more flexibility to use whatever optimizer they feel will work better for their problem.

**How should this be implemented in yo

[2020-11-15 20:51] Optimox commented on #236
Have you tried optimizer parameter?

[2020-11-15 20:57] trulicup commented on #236
I have, but when I tried to use SparseAdam I got this error:

[2020-11-15 21:19] Optimox commented on #236
Have you tried optimizer_params?

[2020-11-15 21:26] trulicup commented on #236
Yeah. Thats what I did here.

[2020-11-15 21:43] Optimox commented on #236
Well, I'm asking questions because the code is already supposed to accept any pytorch optimizer. There is nothing specific to Adam in the code, it's just the default optimizer.

Does your code run if you replace `torch.optim.SparseAdam` by `torch.optim.Adam`? What happens with `torch.optim.SGD`?

So the feature you are requesting is supposed to be already available. If something does not work, cou

[2020-11-15 21:52] Optimox commented on #236
I just tried a bunch of different optimizers from torch.optim they all seem to be working fine.

[2020-11-15 21:58] trulicup commented on #236
Here is the notebook for my code:
https://colab.research.google.com/drive/1YPUw976g7irc1qJkLVPC2ttHPuw61i9g?usp=sharing

[2020-11-16 15:23] Optimox commented on #236
Well I guess you'll find plenty of help for the Kaggle competition if you share a notebook with the corresponding error.

I can't review everyone's code. I tried to reproduce your error but couldn't so I'm closing this. Feel free to reopen with a minimal reproducible error when  you have one.

[2020-11-16 15:23] #236 closed

[2020-11-19 11:40] nclibz opened #238 "Using GridSearchCV"
## Feature request
First of, I want to say thank you for creating this PyTorch implementation of Tabnet.
I have a small feature request:
Is it possible to take batch_size, virtual_batch_size, drop_last and max_epochs as arguments during init instead of when calling fit?

**What is the expected behavior?**
As per the sklearn documentation the GridSearchCV uses the inherited set_params method to cha

[2020-11-19 11:52] Optimox commented on #238
Hi @nclibz,

Thanks for your message.

I was actually thinking of doing the opposite, i.e move some parameters from Tabnet and put them into the `fit` call (like lambda_sparse, verbose etc..). My idea is to leave only the architecture dependent parameters inside the TabNet class and put everything related to the training procedure in fit.

So this won't make things easier for GridSearchCV but will

[2020-11-19 15:02] nclibz commented on #238
I completely agree that those parameters are more related to the fit method than the actual init. I just thought that the reason for making an sklearn implementation was to make it compatible with the rest of the sklearn ecosystem.

I'll just make a thin wrapper as you suggested. Thank you for answering and sorry for starting a new thread for something that has already been brought up before.

[2020-11-19 15:02] #238 closed

[2020-11-19 18:49] Rajsuryan-Singh opened #239 "ValueError in loss_fn ."
The following error shows up when I try training the model on the lish_moa dataset.
ValueError: y_true contains only one label (0). Please provide the true labels explicitly through the labels argument.

I made some changes to the example notebook and I'm attaching the modified notebook for reference.

**What is the current behavior?**
The aforementioned error shows up when I try to train the mode

[2020-11-19 19:08] Optimox commented on #239
Well I made several public notebooks showing how to make it work with MOA dataset.

The error seems clear to me, since you only have one value in a target, you can’t compute the log loss. You should use a custom log loss that accepts only one label. The error comes from the sklearn log_loss function.

Please refer to the public notebooks share on the challenge.

[2020-11-22 14:46] joseluismoreira commented on #122
Great issue! Reading the paper and the both original implementation and this one I made the same question about the embeddings from the same columns be used together.

[2020-11-22 15:42] joseluismoreira commented on #122
I guess if we take the mean or the max we will lose the sparcity property... I am not sure, but maybe we can torch.stack the features instead of torch.cat them, and apply the sparse max in this new dimension.

[2020-11-22 16:10] Optimox commented on #122
Hello @joseluismoreira,

There are two PR on this topic already:
- a very old one from me that was definitely not ideal : #92
- a more recent one and more promising one : #217

I guess the sparsity is not very important since you will only break the sparsity for embeddings from the same feature, so in the end you'll still be looking at only a few original features.

[2020-11-22 16:59] joseluismoreira commented on #122
Thank you, @Optimox . The PR 217 seems what I look for. :+1:

[2020-11-23 09:41] ThomasWolf0701 opened #240 "scale = torch.sqrt(torch.FloatTensor([0.5]).to(x.device)) RuntimeError: CUDA error: device-side assert triggered"
**Describe the bug**
When running on GPU Tabnet crashes with scale = torch.sqrt(torch.FloatTensor([0.5]).to(x.device))
RuntimeError: CUDA error: device-side assert triggered

**What is the current behavior?**
It works when the matrix I use contains only integers but fails with floats.
I also made sure that NaN values are imputed and there are no Inf. Also the largest value fits into float32,
Also

[2020-11-23 09:50] Optimox commented on #240
Hello,

This line `ValueError: Pipeline.fit does not accept the batch_size parameter. You can pass parameters to specific steps of your pipeline using the stepname__parameter format, e.g. Pipeline.fit(X, y, logisticregression__sample_weight=sample_weight)` make me think that you are using tabnet inside a sklearn pipeline.

Tabnet is not compatible with all sklearn pipeline, I guess that's the prob

[2020-11-23 10:02] ThomasWolf0701 commented on #240
Here it is:

imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
scorer = make_scorer(mean_squared_error, greater_is_better= False)

inner_cv = TimeSeriesSplit(n_splits=5)#.split(featureMatrix)
outer_cv = PredefinedHoldoutSplit(valid_indices=[range(0,100,1)]

#set the training parameters for Random Forest
paramsTab = {
    'm__n_steps': randint(1,3),
    'm__n_a': randint(8,64),
    'm_

[2020-11-23 10:06] ThomasWolf0701 commented on #240
Also tried without batch_size and now i get:

tab_search = RandomizedSearchCV(tab_model,scoring = scorer ,param_distributions=paramsTab, random_state=42, cv=inner_cv, verbose=5, n_jobs=1, return_train_score=True)

tab_model.fit(np.array(featureMatrix.sparse.to_dense().values),np.array(values))
No early stopping will be performed, last training weights will be used.
epoch 0  | loss: 20287.99239|  0

[2020-11-23 10:16] ThomasWolf0701 commented on #240
I also did a grid search using the cpu, for most iterations it works but some give an error:

[CV]  m__gamma=1.3745401188473625, m__mask_type=sparsemax, m__momentum=0.019673133446482256, m__n_independent=4, m__n_shared=1, m__n_steps=1, score=(train=nan, test=nan), total=  38.5sC:\Users\Thomas Wolf\anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\model_selection\_validation.py:552: FitFailedWa

[2020-11-23 10:30] Optimox commented on #240
Well I think this is related to GridSearchCV and TabNet you have to wrap tabnet into a bigger class. This is not included in the library yet.

You can have a look at #238 and #80.
Maybe @nclibz can help you.

[2020-11-23 10:56] ThomasWolf0701 commented on #240
I also crashes when i do not use grid search but just fit the model:
tab_model.fit(np.array(featureMatrix.sparse.to_dense().values),np.array(values))

Here is a runnable code example, and the example data as a pickle:
[bugfixData.zip](https://github.com/dreamquark-ai/tabnet/files/5582373/bugfixData.zip)

import numpy as np
import pandas as pd
from scipy import sparse
from sklearn.impute import Sim

[2020-11-23 10:57] ThomasWolf0701 commented on #240
Here the error without grid search on the GPU:
Device used : cuda

tab_model.fit(np.array(featureMatrix.sparse.to_dense().values),np.array(values))
No early stopping will be performed, last training weights will be used.
Traceback (most recent call last):

  File "<ipython-input-18-bf0eac9fd14a>", line 1, in <module>
    tab_model.fit(np.array(featureMatrix.sparse.to_dense().values),np.array(value

[2020-11-23 11:02] ThomasWolf0701 commented on #240
And here without  gridsearch on the cpu:

tab_model.fit(np.array(featureMatrix.sparse.to_dense().values),np.array(values))
No early stopping will be performed, last training weights will be used.
epoch 0  | loss: 20287.99239|  0:00:05s
epoch 1  | loss: 20290.36925|  0:00:09s
Traceback (most recent call last):

  File "<ipython-input-2-bf0eac9fd14a>", line 1, in <module>
    tab_model.fit(np.array(

[2020-11-23 11:08] ThomasWolf0701 commented on #240
When i run grid search on the cpu it actually works on some combinations and fails on others:

[CV]  m__gamma=1.3745401188473625, m__mask_type=sparsemax, m__momentum=0.019673133446482256, m__n_a=15, m__n_d=28, m__n_independent=3, m__n_shared=2, m__n_steps=1, score=(train=-17302.082, test=-26498.246), total=  53.9s
Device used : cpu
[CV] m__gamma=1.3745401188473625, m__mask_type=sparsemax, m__momen

[2020-11-23 11:19] Optimox commented on #240
this error `tau = input_cumsum.gather(dim, support_size - 1)
RuntimeError: index -1 is out of bounds for dimension 1 with size 2423` always appeared when you have nan or inf values in your training data. Please check the numpy array you are giving after sparse to dense.

It can also be due to gradient fading or explosion. You can add a clip_value which may help or change the learning rate.

[2020-11-23 11:24] LanSaid opened #241 "Type error int() argument must be a string in pytorch TabNetMultiTaskClassifier fit method"
**Describe the bug**

When fit TabNetMultiTaskClassifier with eval_set parameter, get error
`TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType' `
Without eval_set it`s done properly.
Note: all features are numeric and labels too.
**What is the current behavior?**
Raise TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneTyp

[2020-11-23 11:33] Optimox commented on #241
Yes this is something that will be changed soon.

It's not really a bug but the Error Message is wrong. What happens is that you are training `TabNetClassifier` to predict only 0s, so the model only ouput one score which is 1 for the 0 class. But then you are trying to predict on multiple classes, which does not make sense. Even if you add a few ones to a few tasks, it does not change the fact tha

[2020-11-23 11:43] eduardocarvp commented on #241
When I copy/paste the code on current develop I get another error though, which I think makes more sense:
`ValueError: y_true contains only one label (0.0). Please provide the true labels explicitly through the labels argument.`

Which version of pytorch-tabnet are you using, @LanSaid ?

[2020-11-23 11:45] ThomasWolf0701 commented on #240
"It can also be due to gradient fading or explosion"

Checked again and the values i gave the model to fit the featureMatrix against were off. So probably the model was not able to fit anything sensible.  Fixed this and now it works.

[2020-11-23 11:45] Optimox commented on #241
@eduardocarvp I think develop might be ahead

[2020-11-23 11:51] LanSaid commented on #241
But I'm still confused :
when change dataset to one
[code]
and fit clf without eval_set, it done like that:
[code]
But when on eval_set param I get the same error like @eduardocarvp
`ValueError: y_true contains only one label (0.0). Please provide the true labels explicitly through the labels argument.`

@eduardocarvp pytorch-tabnet version is  '2.0.0'

[2020-11-23 13:01] ThomasWolf0701 commented on #240
I checked for infs, made sure that it´s float32 compatible and NaN are being imputed by the pipeline.
Also i made sure that the values are correct. So this is not the probblem.

As some of the GridSearches work and some don´t it is either a problem of the settings, as the standard settings don´t work and some of the tried ones do. Or some cross validation folds are working an some do not.

[2020-11-23 14:50] Optimox commented on #240
maybe entmax is working but sparsemax is creating this error, did you check that?

[2020-11-23 14:52] Optimox commented on #241
This is a bug from `np.vectorize` I think I'll come back with more details

[2020-11-23 15:55] ThomasWolf0701 commented on #240
I ran  the gridsearch on the cpu using  entmax and for the cpu this fixed the problem, even when varying the other parameters.  Will also check for the gpu (cuda).

[2020-11-23 17:13] ThomasWolf0701 commented on #240
While it now works for the cpu with entmax, for GPU I still get the following error:

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:   21.3s finished
Traceback (most recent call last):

  File "<ipython-input-2-9ee0c7bd3a80>", line 1, in <module>
    tab_search.fit(np.array(featureMatrix.iloc[:,:].sparse.to_dense().values),np.array(values))

  File "C:\Users\Thomas Wolf\anaconda3\envs\my-rdk

[2020-11-23 19:22] ThomasWolf0701 commented on #240
Also ran the cpu again and even with entmax the erro is not completely gone just seems to happen less often.

[2020-11-24 00:23] joseluismoreira opened #243 "GhostBatchNorm maybe can take less time"
## Feature request

I have noticed that GBN implementation has a for loop, and in my training it takes more time specially when the virtual batch size is much smaller than the real one.

**What is the expected behavior?**

I hope get near constant time in the GBN, in order to increase a lot the real batch size

**What is motivation or use case for adding/changing the behavior?**

Improve the time

[2020-11-24 00:27] joseluismoreira commented on #243
A problem with the code above is that the real batch should be divisible by the virtual batch. I dont know how to solve this yet..

[2020-11-24 08:55] Optimox commented on #243
I think it's alright to force a virtual batch size to divide the batch size, we could also set drop_last=False systematically.

But what happens for prediction? That is a bit more complicated, we way artificially augment the last batch if it's not full and drop the lines before returning to the final user.

It looks like an interesting speed up!

[2020-11-24 11:08] joseluismoreira commented on #243
I think it is not necessary, @Optimox, since in the test time, batch norm should use global statistics, so do ghostnorm.... btw, we have to implement this global statistics capturing, when we implement ghostnorm in a OOP way.  See the discussion here for more details about test time. https://github.com/tensorflow/tensorflow/issues/23050

[2020-11-24 15:17] vantony1 commented on #178
Any update on this @Optimox ?

[2020-11-24 16:19] Optimox commented on #178
@vantony1

yes there's a PR coming soon #220

Here's a Kaggle notebook showing what it will look like : https://www.kaggle.com/optimo/selfsupervisedtabnet

[2020-11-26 12:39] joseluismoreira commented on #243
May I implement it and send to you?

[2020-11-26 15:09] eduardocarvp commented on #243
Hi @joseluismoreira,

Sure, you can implement your idea on a new branch. Like you said on your last comment we have to store the `running_mean` and `running_var` and implement as a PyTorch Module so that it behaves as a custom layer. I'm pretty sure we can do better that what exists today on the code.

If you create a PR we can continue the discussions there.

[2020-11-30 04:27] #232 closed

[2020-12-06 11:38] Optimox commented on #239
I'm closing this, feel free to reopen if needed.

[2020-12-06 11:38] #239 closed

[2020-12-06 11:40] Optimox commented on #233
I'm closing this as a duplicate of #226

[2020-12-06 11:40] #233 closed

[2020-12-06 11:42] Optimox commented on #50
@eduardocarvp I thinkg with Stochastic Weight Averaging natively available in PyTorch 1.6 we could do this in a very simple way and add a parameter for when to start SWA: https://pytorch.org/blog/pytorch-1.6-now-includes-stochastic-weight-averaging/

[2020-12-06 11:44] Optimox commented on #188
@AlbertoCastelo do you have some news on this?

[2020-12-06 12:20] Optimox commented on #241
I can't reproduce this on the latest version, so I'm closing it. Please reopen if this appears with the newest versions.

[2020-12-06 12:20] #241 closed

[2020-12-06 12:23] Optimox commented on #240
@ThomasWolf0701 Could you share some examples of parameters which trigger the error and some that don't?

[2020-12-06 14:05] Optimox commented on #29
@Hartorn can we consider this as done?

[2020-12-06 14:20] Hartorn commented on #29
Yep

[2020-12-06 14:20] #29 closed

[2020-12-07 07:07] ZAJ0711 opened #245 "fit report"
when i just use the model in my program, the bug is shown

  File "D:\Program Files\anaconda3\lib\site-packages\torch\nn\functional.py", line 1852, in embedding
    return torch.embedding(weight, input, padding_idx, scale_grad_by_freq, sparse)
IndexError: index out of range in self

may be the cat_dims, or not ? the code is:
clf = TabNetClassifier(cat_idxs=cat_idxs,
                           cat_

[2020-12-07 07:27] ZAJ0711 commented on #245
eval_metric=['auc'],
can i see the f1 score

[2020-12-07 08:02] eduardocarvp commented on #245
Hi @ZAJ0711 ,
For your `IndexError: index out of range in self`, the reason it happens is because your dataset has more modalities than the number you passed in `cat_dims` for some feature. I think the most probable reason is that there is a modality of some feature that is present in your validation or test sets, but not on your training. Could you check if that is the case?

as for the F1-score

[2020-12-07 08:08] ZAJ0711 commented on #245
thanks for your reply
cat_dims is Required? When I don't give this parameter it works well and I don't find the Explanation in the document
Does this parameter： cat_dims  cause a conflict？

[2020-12-07 08:50] Optimox commented on #245
`cat_dims` is missing in the README, we need to add it.
It is mandatory if you wish to perform embeddings, if you don't specify it the model will continue as if all variables are numerical (that's probably the reason you don't have the error).

We probably need to make the README clearer and also maybe give a user warning if all the necessary parameters are not given.

In order to use embeddings i

[2020-12-07 10:01] ZAJ0711 commented on #245
My topic is a two classification problem. The ratio of the two categories of data is about 7:3, and the total amount of data is about 8000
The category features in the model are coded by label directly. Can we try other coding (such as target, one hot) ？Do discrete numerical data with numerical relationship (similar to the number of people) need additional normalization?
Thanks for your help

[2020-12-07 11:58] Optimox commented on #245
- discrete numerical : no normalization is needed
- you can try target encoding or one hot encoding, but then you must treat those columns as numerical (don't try to create embeddings on those columns)
- if your categorical features are already encoded then you just need to give `cat_dim=np.unique(my_cat_feat)` for every categorical column

[2020-12-07 12:27] ZAJ0711 commented on #245
you may say that after I use target encoding the result is put into the Tabnet as numerical，but  the third tip show that  cat_dim is needed， cat_dim is for categorical not for numerical

may be that  after I use target encoding, cat_dim is needed，but cat_emb_dim is unneeded？

[2020-12-07 12:58] Optimox commented on #245
No sorry edited my post:
- third point was only for label encoded features

If you do target encoding or one hot encoding then none of the three params `cat_idxs` `cat_dims` and `cat_emb_dim` is useful.

[2020-12-07 14:33] #187 closed

[2020-12-13 02:17] ZAJ0711 opened #247 "pretraining"
when i just pip install pytorch-tabnet and the version is pytorch-tabnet-2.0.1
the guide show that if i want to use the pretraining model i could
from pytorch_tabnet.pretraining import TabNetPretrainer
but there is  not pytorch_tabnet.pretraining module

[2020-12-13 09:57] Optimox commented on #247
Yes, the README shown on GitHub is the develop branch README.

You can pip install the develop branch with this line of code:

`!pip install  "git+https://github.com/dreamquark-ai/tabnet.git@develop#egg=pytorch_tabnet" --upgrade`

We will release soon the develop branch.

[2020-12-13 11:23] Optimox commented on #245
@ZAJ0711 I'm closing this, please feel free to reopen if it did not solve your problem.

[2020-12-13 11:23] #245 closed

[2020-12-13 11:28] Optimox commented on #243
@joseluismoreira I think the important part in the end is whether the total training time goes down, I think that currently this might not be a bottle neck, so it would be nice to see training time improvement in your PR

[2020-12-13 12:23] Optimox opened #249 "Helper function for embeddings"
## Feature request
As requested by some, and as @ekamioka started on this PR #244. It might be interesting to get some helper functions to use embeddings as it's not the simplest concept in deep learning.

**What is the expected behavior?**
Calling a few helper function to get all the correct parameters before using TabNet.

**What is motivation or use case for adding/changing the behavior?**
I th

[2020-12-13 12:29] Optimox commented on #228
@Carl-McBride-Ellis this PR #248 will close this issue.

You'll be able to update your notebook once the new release 3.0 will be out.

[2020-12-13 12:31] Optimox commented on #234
I'm closing this as I don't see it as high priority, feel free to reopen if you think that adding your loss_fn as a custom evaluation metric does not solve your problem.

[2020-12-13 12:31] #234 closed

[2020-12-13 12:51] Optimox commented on #143
@nicolasj92 @athewsey anyone willing to discuss more in depth how this could be done?

[2020-12-14 09:18] #228 closed

[2020-12-15 08:54] eduardocarvp opened #250 "Single fit function that does pretraining + training"
## Feature request

**What is the expected behavior?**

Use the same parameters as the classifier/regressor to create a PreTrainer and then train normally.

**What is motivation or use case for adding/changing the behavior?**

It would mostly simplify benchmarks and avoid the code repetition on notebooks.

**How should this be implemented in your opinion?**

A `fit_with_unsupervised` function that

[2020-12-17 10:11] ZAJ0711 opened #251 "pretraining"
when i just try the pretraining model
i find that
1) the loss changes rapidly sometime, such as in three consecutive epochs, the loss from 1.07313 to 20038.68732 and then 1.0001, but it not always happens
2)the output is val_0_unsup_loss and loss, what is the different?
3) i use the model for Binary classification, and the tag is nearly 7:3，and the method of splitting data i use is keep the origin

[2020-12-17 13:03] Optimox commented on #251
1-  val_0_unsup_loss is the evaluation metric on your first eval_set and loss is the loss on the training set.

The fact that you can see huge increase in `loss` is due (I think) to the random batches, every time all the lines in one batch have a feature with a common unique value that will create a standard deviation of 0 and so the loss is exploding. It does not always happen because there is a

[2020-12-17 13:03] Optimox commented on #247
the release of v3.0.0 is out, this should have solved your problem!

[2020-12-17 13:03] #247 closed

[2020-12-17 13:05] Optimox commented on #226
thanks this has been solved thank you

[2020-12-17 13:05] #226 closed

[2020-12-18 09:10] Optimox commented on #240
Alright, I'm closing this as I could not reproduce it easily. Please feel free to reopen with more information when you have some to share.

[2020-12-18 09:10] #240 closed

[2020-12-20 16:26] ddofer commented on #135
I'm getting the same error, data doesn't contain any nans or infs. (And I'm using .values to extract data from a dataframe)

[2020-12-20 16:28] ddofer commented on #135
C:/w/1/s/tmp_conda_3.7_100118/conda/conda-bld/pytorch_1579082551706/work/aten/src/THC/THCTensorIndex.cu:361: block: [2,0,0], thread: [87,0,0] Assertion `srcIndex < srcSelectDimSize` failed.
C:/w/1/s/tmp_conda_3.7_100118/conda/conda-bld/pytorch_1579082551706/work/aten/src/THC/THCTensorIndex.cu:361: block: [2,0,0], thread: [88,0,0] Assertion `srcIndex < srcSelectDimSize` failed.
C:/w/1/s/tmp_conda_3

[2020-12-22 05:34] mei28 opened #254 "Fix Typo"
**Describe the bug**

I found some typos in docstring and alert.

Can I fix these typos and send pull request?

Hope to hear from you soon！

ex)
![image](https://user-images.githubusercontent.com/51149822/102852634-05386d80-4462-11eb-894b-819b5bf382c1.png)

**What is the current behavior?**
N/A
**If the current behavior is a bug, please provide the steps to reproduce.**

N/A
**Expected behavior**

[2020-12-22 08:36] Optimox commented on #254
Hello @mei28,

Sure feel free to open a PR. Please could you name your commit something like `chore: docstring typos` ? If you see more typos don't hesitate to correct them! Thanks!

[2020-12-22 14:10] #161 closed

[2020-12-24 13:52] #254 closed

[2020-12-24 13:53] Optimox commented on #251
@ZAJ0711 any feedback from the Pretrainer? Did you manage to make it work?

[2020-12-24 16:21] nitinmnsn opened #256 "Cannot use all the cores when running training on CPU"
**All the cores in CPU are not getting utilized.**

**Current behavior**
I have not touched the num_worker parameter since it seems to be for data loading purposes. My machine has 16 cores but only 8 seems to be busy at any time

**If the current behavior is a bug, please provide the steps to reproduce.**

**Expected behavior**
All cores of my machine being utilized while training

**Screenshots**

[2020-12-27 10:33] Optimox commented on #256
Hello @nitinmnsn,

I don't think this is a pytorch-tabnet bug, we are using basic dataloaders from pytorch.

Sometimes pytorch is hard to optimize on CPU, maybe you can have a look at this: https://github.com/pytorch/pytorch/issues/9873

If you do find a way to use all the cpu cores at full speed please let us know.

[2020-12-28 15:53] Promisery commented on #240
Are you using a RTX 30x0 GPU? I'm encountering the same problem. I changed the scale = *** line to __init__ method of GLU, and got cuDNN error: CUDNN_STATUS_EXECUTION_FAILED. Maybe it's caused by CUDNN.
I'm currently using CUDA 11.2 and cuDNN 8.0.5

[2020-12-28 20:57] ThomasWolf0701 commented on #240
Ok will try to run with different settings and can check which ones crash.

[2020-12-28 20:58] ThomasWolf0701 commented on #240
Im am using a GTX 1070 and Cuda 10.2

[2021-01-01 03:14] jchoi92 opened #257 "TabNetPretrainer uses n_d to initialize n_a for TabNetEncoder"
**Describe the bug**
TabNetPretrainer uses n_d to initialize n_a for TabNetEncoder, resulting in a wrong n_a if n_d != n_a

**Expected behavior**
This should be a simple fix - in the line with asterisks below, n_a=n_d should be updated to n_a=n_a.

[code]

[2021-01-01 04:21] jchoi92 commented on #257
It looks like the same change needs to be made for TabNetNoEmbeddings as well. Let me know if I'm missing something!

[2021-01-01 11:18] zhenpingfeng opened #258 "Faster Tabular Dataloader"
## Feature request

**What is the expected behavior?**
Load data more faster than use `def __getitem__(self, index):
        x, y = self.x[index], self.y[index]
        return x, y`

**What is the motivation or use case for adding/changing the behavior?**
Fix the CPU to GPU data-loading bottleneck.

**How should this be implemented in your opinion?**
Already have an implemented.
https://github.com

[2021-01-01 12:13] Optimox commented on #257
wow, thank you so much for finding this silent bug... It's quite new I think, it comes from a bad merge I did from other branch for self supervision...

[2021-01-01 12:15] Optimox commented on #258
Thanks for pointing out this dataloading scheme, I'l make some tests to see how much it improves the training time! Did you make any experiment yourself?

[2021-01-01 12:27] zhenpingfeng commented on #258
I didn't test with the Tabnet, but with others large models, it's indeed can speed up 10~20 times.

[2021-01-02 13:45] #257 closed

[2021-01-07 09:03] Optimox commented on #258
@eduardocarvp any speed up in sight?

[2021-01-19 20:21] xuzhang5788 opened #261 "plot learning curve"
## Feature request
history of learning. plot loss vs. epochs for train data and validation data

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**
visualize the learning process

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?**
yes

[2021-01-20 12:18] showkeyjar commented on #143
@Optimox thanks for your great job plan! would you please release a data loader example for batch training after this request been done?

[2021-01-20 12:35] nicolasj92 commented on #143
Sure, I would be interested and willing to contribute.

[2021-01-20 14:15] Optimox commented on #261
All the metrics at each epoch are available via the ‘model.history’, you should be able to plot most of the things you want.

[2021-01-21 09:28] smile0925 opened #262 "The result of tabnet is not better than xgboost"
I I tested the code for the binary classification task, but the result of TabNet is worse than the result of XGBoost. What could cause this situation?

[2021-01-21 10:01] eduardocarvp commented on #262
Hi @smile0925,

Thanks for trying our package. It is note guaranteed at all, however, that we can have better performances with TabNet compared to XGB on every dataset and every type of problem. Even the original article shows some dataset in which CatBoost or XGBoost have better performances, suchs as KDD Churn and Upselling.

If you give me more details on the problem you are trying to solve may

[2021-01-21 10:06] Optimox commented on #262
Well your issue seems a bit light to give a useful answer.

You tested the code on which dataset? What are the scores you get for TabNet and XGBoost? What parameters did you use for both?

There is no such thing as a miracle algorithm, XGBoost will do worse than a linear regression for a linear problem for example. There are absolutely no guarantees or laws telling you than TabNet will outperform

[2021-01-21 13:05] renovate[bot] opened #263 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:15] #263 closed

[2021-01-21 14:47] tmontana opened #264 "'TabNetPretrainer' object has no attribute 'preds_mapper'"
**Describe the bug**
when running example pretraining_example.ipynb as-is I get the following error message when trying to save the model:
unsupervised_model.save_model('./test_pretrain')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-20-046c2a29fa3f> in <module>
----> 1 unsuper

[2021-01-21 15:07] eduardocarvp commented on #264
Thanks @tmontana . That is probably related to https://github.com/dreamquark-ai/tabnet/pull/253. I must have forgotten to do the necessary modifications to the pretrainer. I'll have a look as soon as I can.

[2021-01-21 15:08] tmontana commented on #264
Thanks!

[2021-01-21 16:41] casonatia opened #265 "Error loading saved model"
**Describe the bug**
Error when loading saved model  running this code from https://github.com/dreamquark-ai/tabnet/blob/develop/census_example.ipynb :
[code]

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-9-6a8b0b4d0367> in <module>()
     11 # define new model with basic param

[2021-01-24 07:18] parsiad opened #266 "Fit TabNetRegressor on weighted samples"
## Feature request

**What is the expected behavior?**

Fit TabNetRegressor on a set of `(x_i, y_i)` samples with corresponding weights `w_i`.

**What is motivation or use case for adding/changing the behavior?**

Many regression applications use non-uniformly weighted samples. LightGBM and XGBoost both support this feature.

**How should this be implemented in your opinion?**

Suggested API:

[co

[2021-01-24 09:35] Optimox commented on #266
Hi,

This is available, you can put a numpy array of weights in the fit function and it will do what you are asking.

It might not be obvious in the README though.

[2021-01-24 11:06] Optimox commented on #265
hello @casonatia,

The notebooks of the repo are running fine as they are used for the continuous integration, so pointing to the notebook to reproduce your bug is not enough.

It seems that it might be a read/write issue or it could be a problem with Windows system (this is not tested by the CI), I'm not sure how to help without more information. Could you try to produce a minimal reproducible co

[2021-01-24 11:24] Optimox commented on #264
@eduardocarvp is the pretraining_example in the CI?

[2021-01-24 17:12] parsiad commented on #266
Thank you for the quick reply. It's unclear to me from the docs how to do
this; I don't see any options for specifying per sample weights (I do see
the option for specifying per class weights, though). Can I trouble you for
an example?

On Sun, Jan 24, 2021, 1:36 AM Optimox <notifications@github.com> wrote:

[2021-01-25 09:07] Optimox commented on #266
It’s the same parameters, which accepts bool, dict or numpy arrays. The docstrings must be up to date, even though the README is not.

[2021-01-25 09:21] parsiad commented on #266
Thank you for your reply.

I'm confused though: how do you specify training and eval weights if it is
just one parameter? Does it only accept training weights? I would be very
appreciative of a code snippet if you happen to have one.

On Mon, Jan 25, 2021, 1:07 AM Optimox <notifications@github.com> wrote:

[2021-01-25 10:15] Optimox commented on #266
The weights are for training only, they impact the sampling weights, not the loss function.

If weights are outputs/labels driven then the best way is to directly change the loss function or the evaluation metric, which will allow you to monitor your scores on any set of data.

If weights are input driven (example penalize more younglings/elderly people) then it’s going to be harder because you do

[2021-01-25 18:27] parsiad commented on #266
I tried your suggestion, but it fails with an error (see below). If I remove `weights`, it works.

[code]

[code]

[2021-01-25 19:08] parsiad commented on #266
Update: it seems like `weights` **expects a vector** so doing `weights=np.ones([y_train.size]) / y_train.size` instead works. Thanks!

[2021-01-26 07:29] eduardocarvp commented on #264
Actually no, @Optimox . I added the notebook to the CI [here](https://github.com/dreamquark-ai/tabnet/pull/267), let's see if it works.

[2021-01-28 10:24] #264 closed

[2021-02-01 08:35] Optimox commented on #261
@xuzhang5788 was the history what you were looking for? Can I close this? Or is it something different?

[2021-02-01 11:03] turmeric-blend opened #268 "Good example of tabnet on a regression problem"
## Feature request

**What is the expected behavior?**
Example to reproduce results from the [tabnet paper](https://arxiv.org/pdf/1908.07442.pdf) on **Rossmann Store Sales**

**What is motivation or use case for adding/changing the behavior?**
The current [example](https://github.com/dreamquark-ai/tabnet/blob/develop/regression_example.ipynb) on regression is a bit confusing to me. The example pre

[2021-02-01 12:04] Optimox commented on #268
Hi @turmeric-blend,

The regression example is a toy example, on how you can decide to treat a binary classification example as regression.
It's mostly to show the basics, you should be able to easily replace the dataset with any other one for regression and it should work with a few changes.

If you are looking for more examples on real datasets I would advise you to have a look on Kaggle noteboo

[2021-02-01 12:05] #262 closed

[2021-02-01 15:47] turmeric-blend commented on #268
Hi @Optimox, I am new to kaggle. How do we download the dataset to test the code out?

[2021-02-01 19:51] xuzhang5788 commented on #261
It will be great if you would like to provide an example. Thanks

[2021-02-01 19:51] #261 closed

[2021-02-02 03:45] turmeric-blend commented on #268
Hi @Optimox I have a follow-up question. Since I am having trouble running this [notebook](https://www.kaggle.com/aeryss/tabular-playground-jan-2021-tabnet-baseline) (can't seem to install cuML), I want to know does tabnet **support** time series regression problems (for example predict for future energy demand, in this case, the input features would be past energy demand time series)?

The notebo

[2021-02-02 08:01] eduardocarvp commented on #268
Hi @turmeric-blend ,

TabNet does not support time series classification or regression. You can have a look [here](https://towardsdatascience.com/using-gradient-boosting-for-time-series-prediction-tasks-600fac66a5fc), for example, on how to adapt a time series problem to a classic regression algorithm like `XGBoostRegressor` or `TabNetRegressor`.

If you really need some specific algorithm for tim

[2021-02-02 08:26] eduardocarvp commented on #265
I have not tested and I do not know if this can help, but it looks like exactly the same problem and same python version: https://stackoverflow.com/questions/52855273/python3-code-uploading-to-s3-bucket-with-io-instead-of-string-io.

Apparently it is a bug with python 3.7.

[2021-02-02 08:31] Optimox commented on #268
To add a few words, best way to use a Kaggle Notebook is probably to fork it, you'll then be able to run it in your web browser within a docker container with all the libraries installed, or you can work in docker container yourself: https://github.com/Kaggle/docker-python (kaggle container is huge so not the best way).

About time series, TabNet is similar to XGBoost on this, you'll need to engin

[2021-02-02 13:25] turmeric-blend commented on #268
Thanks @Optimox @eduardocarvp for the suggestions! I will look into it :)

[2021-02-02 13:25] #268 closed

[2021-02-05 08:44] freddycct commented on #223
Still waiting...

[2021-02-05 09:00] Optimox commented on #223
@freddycct if you keep waiting, you'll end up waiting. If you start doing I will be more than happy to help or answer your questions.

The amont of people having multiple GPUs on their single machine and working with tabular data seems small to me. I welcome those people to offer a solution.

[2021-02-08 16:53] unnir opened #270 "How to calculate the number of learning parameters in TabNet?"
Hi,

sorry, could not join the slack, the link is broken or something.

I have a very simple question how to calculate the number of learning parameters in TabNet?

Thank you!

## Feature request

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?*

[2021-02-09 07:59] Optimox commented on #270
The slack link should be alright, it expires in a thousand years ^^

In order to know the number or parameters you could do (as answered here : https://stackoverflow.com/questions/49201236/check-the-total-number-of-parameters-in-a-pytorch-model/62764464#62764464 )

[code]

[2021-02-11 21:43] behoward opened #271 "Model weights not reset when calling fit()"
I set up a 5-fold cross validation loop to test the TabNet classifier in comparison to other sklearn classifiers.  TabNet blew them all away. Unfortunately, it turned out that the reason was because TabNet, unlike other sklearn classifiers, does not overwrite weights on each new call to fit() so that, in effect, the held out test fold was previously used as part of a prior training set.. I solved

[2021-02-12 07:57] eduardocarvp commented on #271
Thanks, @behoward . Indeed the sklearn convention is pretty clear on this, but I'm not sure it is the best choice in our case. The training process is much longer for TabNet compared to most sklearn classifiers and I can see cases in which the user would just like to train for longer without having to start everything from the beginning again.
What do you think about this, @Optimox ?

[2021-02-12 08:42] Optimox commented on #271
Hello @behoward,

Thanks for your feedback.

Indeed pytorch-tabnet is scikit-friendly and not scikit-ruled. This behavior was a choice we made because with deep learning models it is very common to do re-training, fine-tuning or things like 'life-long learning'.

I would be ok to find a better way to allow this, but the current behavior seems simple and intuitive to me. We should definitely make t

[2021-02-12 13:00] Optimox commented on #265
@casonatia feel free to reopen when you have more information to share.

[2021-02-12 13:00] #265 closed

[2021-02-12 14:55] behoward commented on #271
I can understand your point, and the current behavior makes a lot of sense in certain scenarios. On the other hand, implementing a scikit-learn interface but not following the 'contract' of that interface seems very likely to cause problems.  Fortunately, there are some mechanisms in scikit-learn for supporting incremental learning, etc.  For example, perhaps you could provide a "warm-start" param

[2021-02-14 15:35] unnir commented on #270
Thank you!

[2021-02-16 16:15] #270 closed

[2021-02-16 20:15] freddycct commented on #223
@Optimox Yep I totally agree with you.

[2021-02-18 10:12] Optimox commented on #271
Maybe a warm-start would be the go to solution, I'll think about it thanks!

[2021-02-28 15:48] csetraynor commented on #251
Yes, I also found that behaviour happening when using a small batch size. On top of that with categorical variables, the following runtime error also happens for a small batch size of 128. The runtime error can be reproduced with pretraining_examples.py. Maybe I am missing something about why the error happens, it seems obscure to me. However, the error doesn't happen when using the recommended ba

[2021-03-01 08:42] Optimox commented on #251
Thanks, I need to have a look. Don't have much time at the moment but will do thanks!

[2021-03-01 11:28] puneethmishra opened #273 "Error while loading saved model and predict step"
**Describe the bug**
I had saved the model using the below steps
saving_path_name = "./tabnet_model_test1"
saved_filepath = clf.save_model(saving_path_name) in the training script

The entire coding was done in an azure notebook using a gpu

**What is the current behavior?**
In the deployment script , i load the model using the below commands:
from pytorch_tabnet.tab_model import TabNetClassifier

[2021-03-01 11:48] Optimox commented on #273
Hmm, what is inside `Data` when you call `clf2.predict(Data)` ? It looks like the given prediction data set is not in a correct format, it should be a numpy matrix.

Could you check that and let me know?

[2021-03-01 11:57] puneethmishra commented on #273
It is a pandas dataframe, do i need to convert it into a numpy matrix?

[2021-03-01 11:58] Optimox commented on #273
yes you should make sure that your columns are in the same order as when you trained your model and then do
`X_predict = my_df[ordered_features_list].values`

[2021-03-01 13:03] puneethmishra commented on #273
Hi ,

After changing the order and changing into a numpy array getting the below error:
--------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-125-dd5fa463c42d> in <module>
      1 Data1=Data.to_numpy()
      2
----> 3 clf2.predict(Data1)

/anaconda/envs/azureml_py36/lib/python3.6/site-pa

[2021-03-01 13:32] puneethmishra commented on #273
Thanks for all your help , had to carry out the pre-processing steps on Inference data and then it worked out.

[2021-03-01 13:59] Optimox commented on #273
Great! I'm closing this then, feel free to reopen if needed.

[2021-03-01 13:59] #273 closed

[2021-03-01 19:41] mdancho84 commented on #97
Hey gang, I'm getting a much greater speedup by increasing the `batch_size` and the `virtual_batch_size`. Doubling my batch sizes roughly costs me 50% worse with the 1st epoch, but only 10% worse with the second epoch. Obviously this is one sample, but seems to be a big improvement in speed with larger data sets.

[2021-03-02 09:07] Optimox commented on #97
hello @mdancho84,

The orginal paper recommends to go as high as 10% of your training data for choosing the batch size.
But the training time for one epoch is not necessarily the good way to monitor the speed, since you might need more epochs to reach the same results.

It's mostly a trials and errors to choose your number of epochs and batch size, then you might stick to it and tune the other par

[2021-03-08 12:12] ottonemo commented on #41
Hey, did you ever think of substituting your base with skorch? It seems there is a huge overlap (callback design is basically the same, sklearn support out of the box and it looks to me that your data granularity/flow is very similar). It looks to me as though both projects could benefit from that.

[2021-03-08 14:42] Optimox commented on #41
Hi @ottonemo,

I did not have a very close look at skorch, but it seems that it should be easy you use the networks defined in pytorch-tabnet and try to use them with skorch.

If you want to give it a try and share the results I'll be happy to have a look.

[2021-03-11 11:59] ottonemo commented on #41
@Optimox I took the census example from the README and ported it to skorch. The notebook is [here](https://gist.github.com/ottonemo/b49721b7a9a7634a027c43fcaf0a5014) ([nbviewer](https://nbviewer.jupyter.org/gist/ottonemo/b49721b7a9a7634a027c43fcaf0a5014)).

I am sure that I missed some details but overall it was quite easy to let skorch handle the callback/sklearn/scoring/loading/saving and having

[2021-03-11 12:38] Optimox commented on #41
Well it looks great to me, not much simpler but it's great, if I had known about skorch since the beginning maybe all the code would be based on that.

Just to understand, starting from where we are now (with a lot of things already packages inside the library) what are the advantages of using skorch?

[2021-03-11 13:28] ottonemo commented on #41
Yes, it is remarkable how similar the layout to skorch is :)

We are currently working on integrating automatic mixed precision, you would get the performance boost of something like this basically for free once it is implemented in skorch. Getting these quality-of-life features is a good point in itself, I think. Integration with TensorBoard is possible as well as experiment logging services like

[2021-03-11 13:57] Optimox commented on #41
Yep I see, definitely agree.

It does seem quite a lot of work though, plus it would be a huge breaking change. Moreover, we haven't created enough unitary test (=None haha) only functional tests. I'd be scared to make the switch for now but when I have time I'll look closer. What happens for pretraining? multi-task? etc...

Also feel free to open a PR if you want to add an example of pytorch-tabn

[2021-03-11 17:23] ottonemo commented on #41
Such a transition is certainly not easy and it does not get easier, I agree. From what I can tell it is less work than I had anticipated but the uncertainty is definitely an issue. Sadly, I am not proficient enough with the underlying model to spot non-obvious problems and my time budget is quite limited at the moment but I am willing to assist where I can. So, when you do have tests and decide th

[2021-03-11 20:05] Vishal-ib97 commented on #240
I'm facing the same issue. Were you able to resolve this?

[2021-03-16 09:47] pianonyy opened #274 "tabnet classifier (google colab)"
**Describe the bug**
Facing troubles with cuda, when I'm trying to use google colab

**What is the current behavior?**

Gpu enviroment, tabnetclassiffier doesn't work

**Screenshots**

![image](https://user-images.githubusercontent.com/48867176/111288424-38e7f580-8655-11eb-85b8-0c45f1fb2ac9.png)

[2021-03-16 11:07] Optimox commented on #274
I think we are missing some information in order to help you.

The line `transf.fit(...)` seems a bit weird, could you share your code without sharing a screen shot of it, but actually copy pasting in?

Did you check for Nan values in your train and validation set? This error often comes with missing values. Also if you switch your model to `cpu` you'll get a clearer error.

[2021-03-16 11:30] pianonyy commented on #274
Sure, thanks a lot!

[2021-03-16 11:30] #274 closed

[2021-03-16 13:21] Optimox commented on #274
@pianonyy did you solve your problem? What was it?

[2021-03-21 07:42] learningelectric opened #275 "hello! How to Parameters Tunning in Tabnet?"
Dear sir
I am new to use Tabnet , Specially I  donot clearly know 'cat_dims,  cat_emb_dim,  cat_idxs' . I can not understand theory of three parameters , And I want to know how useful to make parameters tunning.  I hope you can give me some suggestions about this question.
Thank you very much!

[2021-03-21 12:57] Optimox commented on #275
Those parameters are related to embedding dimensions for categorical features.

If you are not familiar with this concept I'll suggest you to search on Google, links like this one should be useful https://towardsdatascience.com/deep-embeddings-for-categorical-variables-cat2vec-b05c8ab63ac0 (havent read it but should be alright).

To sum up:
- `cat_idxs` : a list of int, this simply represents what

[2021-03-22 08:38] learningelectric commented on #275
ok, Thank you very much ! I will try it.

[2021-03-22 15:20] Optimox commented on #275
feel free to reopen if needed!

[2021-03-22 15:20] #275 closed

[2021-03-26 15:14] Vickyilango opened #276 "RuntimeError: running_mean should contain 136 elements not 135"
On doing clt.predict getting this

RuntimeError: running_mean should contain 136 elements not 135

[2021-03-26 15:17] eduardocarvp commented on #276
Hi @Vickyilango , could you give more details on what is the code you are executing to get this error, please?

[2021-03-26 15:34] Vickyilango commented on #276
Sorry. My bad . The test shapes were mismatching after a step in my preprocessing. Thanks for the fast response

[2021-03-26 15:34] #276 closed

[2021-03-28 07:42] luigisaetta opened #277 "Save TabNet in ONNX format"
## Feature request

Is it possible to save TabNet in ONNX format?

**What is the expected behavior?**

**What is motivation or use case for adding/changing the behavior?**
ONNX is quickly becoming the de-facto standard to save models, even because these way you avoid to import packages when you want to pack for inference.

**How should this be implemented in your opinion?**

**Are you willing to w

[2021-03-28 09:03] Optimox commented on #277
I'm not familiar with ONNX, but it would be quite easy to save the network as traced script (from pytorch jit: https://pytorch.org/docs/stable/jit.html), which could be use for inference without the need of pytorch-tabnet but also without python itself (can be called in C++ only).

Training the model and then saving the `model.network` in `eval` mode should work without problem. I think ONNX would

[2021-03-28 13:33] luigisaetta commented on #277
Hi Optimo, thanks for your quick answer.

My main use case is to be able to pack the trained model in a REST service for predictions. In Python.

As far as I understand (I'm not a great expert of PyTorch) a TabNetClassifier is a torch.nn.Module, so as explained here:

https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html

we should be able to export through tracing, using t

[2021-03-29 07:05] luigisaetta commented on #277
It seems more difficult than I expected.

When I call

torch.onnx.export(clf.network, dummy_input, "tabnet1", verbose=True)

I get the following error:

RuntimeError: Only tuples, lists and Variables supported as JIT inputs/outputs. Dictionaries and strings are also accepted but their usage is not recommended. But got unsupported type numpy.ndarray

It seems:
- cannon export if input is numpy arra

[2021-03-29 07:49] Hartorn commented on #277
Hi,

I will try to see how this can work.
To be sure, are you trying to save & load ? in python ? or are you trying save in python and load in c++ ?

[2021-03-29 07:59] luigisaetta commented on #277
Only Python. I want to export the model trained using ONNX to be able to (for example) develop a REST service and avoid having to install pytorch-tabnet, using only ONNX runtime

[2021-03-29 09:35] Hartorn commented on #277
For that, you can use pytorch save method, but I will come back with some tests using onnx

[2021-03-29 09:42] Optimox commented on #277
@luigisaetta I think trying to ONNXify (whatever this is called) the entire class `TabNetClassifier` is doomed to fail - I'll be very surprised if you manage to export everything with ONNX or jit (@Hartorn I know you are full of surprise :) ).
I think you should focus on exporting the network only, which is accessible with `network()` method.

[2021-03-29 09:54] Hartorn commented on #277
@Optimox You are right, only the network should be exported, but I have to check also how the input format is (only one input or several for the embeddings and so on)

I will see if we can setup some kind of optional deps to have a custom exporter, or at least to have a notebook concerning this
I should manage to get something working, based on

https://pytorch.org/tutorials/advanced/super_resolut

[2021-03-29 11:04] luigisaetta commented on #277
Hi, as you can see from my comment above, I get error when I apply the torch.onnx.export to clf.network. So, as far as I understand I'm trying to export only the network. But, since it wants an input... it doesn't accept NumPy array.

[2021-04-02 07:31] Optimox commented on #277
@luigisaetta sorry I wrote on the docstring example numpy arrray but it should be a torch.Tensor, does it work with tensors?

[2021-04-02 11:15] luigisaetta commented on #277
No, it doesn't. I'll find my test and post here the error. Basically, I think it calls a method that exists in numpy array but not in Torch tensor.

[2021-04-05 12:09] athewsey opened #278 "Research(?) : Alternative missing-value masks"
## Feature request

The current `RandomObfuscator` implementation (in line with the original paper, if I understand correctly) masks values by  setting them to 0.

But 0 is a very significant number in a lot of contexts, to be using as a mask! I would liken it to choosing the token `THE` as your `[MASK]` for an English text model pre-training task.

I believe this pattern may be materially limitin

[2021-04-05 13:12] Optimox commented on #278
Hello @athewsey,

I think there is room for improvement for the `RandomObfuscator` but I'm not sure I follow you on all the points. It's a very interesting topic but also very hard. Here are some thoughts of mine:
- what does this has to do with embedding aware attention? When you have categorical data and use embeddings, it's quite simple to create a value that represents all the NaNs in your dat

[2021-04-05 20:15] eduardocarvp commented on #278
Hi @athewsey,

I guess most of the questions I would ask are almost the same as @Optimox's. Indeed, I think the problem exists independently of the embeddings and I don't see how we could ever replace by default a numerical mask with something intrinsically more meaningful than 0, indeed allowing custom values seems like an option.

@Optimox , what do you mean by your last point? Is it switching t

[2021-04-06 06:21] athewsey commented on #278
Thanks both for your insights! Very useful as I try to wrap my head around it all too.

To @Optimox 's first point, I think that's my bad: I used "embedding-aware attention" above to refer quite narrowly to a #217 -like implementation (rather than the range of perhaps different ways you could think about doing that)... And also "embedding" to refer quite broadly to the general translation from tra

[2021-04-06 07:33] Optimox commented on #278
@eduardocarvp I was just thinking of randomly swapping some columns for each row with another random row (that would probably mean we need to lower the percentage of rows that you swap in order to be able to reconstruct the original input).

@athewsey I think I need to have a closer look at all the links you are referring to, I might have missed something.

By re-reading the conversation, I think

[2021-04-07 11:47] Optimox commented on #278
@eduardocarvp something like this :

[code]

[2021-04-08 08:58] ottonemo commented on #41
Sorry, no significant advancements, the state is still very similar to the initial notebook I posted earlier in this thread (https://nbviewer.jupyter.org/gist/ottonemo/b49721b7a9a7634a027c43fcaf0a5014). May I ask what your motivation is to use skorch? Parameter search?

I hope I find the time to post a draft PR later this day with a notebook showcasing grid search.

[2021-04-09 20:03] 9849842 opened #280 "Exception: data must be 1-dimensional when creating network on tabular dataset."
**What is the current behavior?**

When training classifier, I get an error saying data must be 1 dimensional

**If the current behavior is a bug, please provide the steps to reproduce.**
import numpy as np
from pytorch_tabnet.tab_model import TabNetClassifier

xTrain = np.random.rand(10,10)
yTrain = np.random.randint(0,2,size=(10,1))

clf = TabNetClassifier()

clf.fit(
    X_train = xTrain,
    y

[2021-04-09 20:12] Optimox commented on #280
Classification must be done with LabelEncoded targets, not one hot encoded targets. So as the error message says, it must be 1D.

Apply label encoding to your targets and things should work just fine.

[2021-04-09 20:20] 9849842 commented on #280
Even adding the label encoding line, it still happens:
import numpy as np
from pytorch_tabnet.tab_model import TabNetClassifier
from sklearn.preprocessing import LabelEncoder

xTrain = np.random.rand(10,10)
yTrain = np.random.randint(0,2,size=(10,1))
yTrain = LabelEncoder().fit_transform(np.ravel(yTrain))

clf = TabNetClassifier()

clf.fit(
X_train = xTrain,
y_train = yTrain,
eval_set=[(xTrain, yT

[2021-04-09 20:46] Optimox commented on #280
![dummy_code_ok](https://user-images.githubusercontent.com/12525461/114238737-69396000-9985-11eb-8c14-1b89c3669b5e.png)

your code runs just ok on my machine

[2021-04-09 20:54] 9849842 commented on #280
When I use my actual dataset it doesnt work... and I am checking with this:

In: len(pd.Series(yTrain).map(type).unique())
Out: 1

[2021-04-09 21:26] 9849842 commented on #280
Its because I never fixed yTest... damnit.

[2021-04-09 21:26] #280 closed

[2021-04-16 13:43] luigisaetta commented on #277
@Optimox I have published an article on TowardsDataScience, https://towardsdatascience.com/pytorch-tabnet-integration-with-mlflow-cb14f3920cb0
There, I'm talking about pytorch-tabnet and integration with MLflow.

[2021-04-16 14:31] Optimox commented on #277
Hello @luigisaetta,

Great article, very detailed! I'm happy to see that integration with MLflow is made so easy by the callbacks. @queraq worked on this and I'm sure neither of us had this specific usage in mind.

There is one part of the article where I think a bit of clarification would be welcomed: the Encoder-Decoder part. In fact TabNet models are only sort of encoders (plus all the sequenti

[2021-04-16 14:35] luigisaetta commented on #277
@Optimox regarding onnx, no I didn't make any progress. The point where I become blocked is that TabNet doesn't seem to accept tensors as input. I think in the code it calls some methods existing only for numpy array. Have you any suggestion?

[2021-04-16 15:50] Optimox commented on #277
hmm actually I think I know.

If you have a look a this file https://github.com/dreamquark-ai/tabnet/blob/develop/pytorch_tabnet/tab_network.py where everything happens about the network, we are actually using numpy for some stupid reason (laziness and bad habits mainly).

I think it would be very easy to replace all the `np.any_function` in this code by the torch equivalent.
This might have two p

[2021-04-19 12:55] Optimox opened #285 "Raise an error if only `cat_idxs` is given"
## Feature request
When reading this : https://www.kaggle.com/soerendip/rossmann-with-tabnet-pytorch/
I think it's misleading to be able to give only cat_idxs, get no error message while the rest of the needed info is missing

**What is the expected behavior?**
Simply raise an error if all the necessary info is not here.

**What is motivation or use case for adding/changing the behavior?**
Avoid m

[2021-04-26 12:27] tanpanfeng opened #287 "Use tabnet in Kaggle GivemeSomeCredit RuntimeError"
Hello,everyone,this my first question on github,I try use tabnet in the kaggle compete Give Me Some Credits,I try so many times,but it fails,could somebody help me,thanks a lot!
!pip install pytorch-tabnet
import numpy as np
import pandas as pd
train_data = pd.read_csv('/kaggle/input/GiveMeSomeCredit/cs-training.csv',index_col=0)
test_data  = pd.read_csv('/kaggle/input/GiveMeSomeCredit/cs-test.csv

[2021-04-26 12:48] Optimox commented on #287
Hello @tanpanfeng,

Welcome to github! One advise for future questions, when you share code insert it inside triple back quotes  like this "`" which will give somethin like this ```your code``` . It's far easier to read code like this.

Otherwise, could you make your notebook public on Kaggle so that I can take a look directly and help you solve your problem from the original code and data?

[2021-04-26 14:16] tanpanfeng commented on #287
The same as issue#186，fix Nan values，Thank you so much for you.@Optimox

[2021-04-26 15:32] tanpanfeng opened #288 "Does Tabnet could do gridsearchcv or random search ,pipeline search"
## Feature request

**What is the expected behavior?**
Tabnet could do gridsearchcv or random search  ,pipeline search to find better better parameters for the test
Could give some suggest parameters to improve the model trained. Such like Approaching (Almost) Any Machine Learning Problem Book suggestion
![image](https://user-images.githubusercontent.com/80340966/116111339-23043080-a6e9-11eb-8bda-

[2021-04-26 15:36] eduardocarvp commented on #288
Hello @tanpanfeng ,

I'm not sure I understand what you mean as expected behavior. Do you mean using `GridSearchCV` or `RandomizedSearchCV` from `sklearn` by default or something different?

[2021-04-26 15:44] tanpanfeng commented on #288
Yes,you could say it again!

[2021-04-26 18:37] eduardocarvp commented on #288
On the original paper https://arxiv.org/pdf/1908.07442.pdf, under the section "Self-supervised learning on Forest Cover Type Experiment hyperparameters", page 9,  you can find the hyperparameters used by the authors.

I might be wrong, but I did not find suggested hyperparameters on the xgboost package itself. Anyways, do you think that if we show the paper suggested values on our README that coul

[2021-04-27 00:59] tanpanfeng commented on #288
Thank you so much for your help

[2021-04-30 07:31] eduardocarvp commented on #288
Closing this issue, feel free to open again if needed.

[2021-04-30 07:31] #288 closed

[2021-04-30 08:28] eduardocarvp commented on #285
Hey @Optimox , that is truly a complete misleading behavior. I have created a pull request raising an error inside the `EmbeddingGenerator` to handle the case where one argument is present while the other is not and the case where the lists have different lengths.

[2021-05-04 12:29] csetraynor opened #290 "working of feature/add-dropout"
## Feature request
The dropout feature is already in development. I wanted to contact @Optimox to discuss if the feature works already or needs more development.

**What is the expected behavior?**

I expect that dropout is either an argument to TabNetRegressor/TabNetClassifier or clf.fit.
However, when I tried the development branch feature/add-dropout I found the error:
`__init__() got an unexpe

[2021-05-05 07:52] eduardocarvp commented on #290
Hello @csetraynor ,

Indeed, the regressor/classifier classes do not have a dropout argument.
I do not remember if the paper mentions dropout, but where on the network do you think it would be interesting to add a dropout layer? It should not be too complicated on `tabnet_network.py`, like you said.

[2021-05-05 09:47] csetraynor commented on #290
Hi @eduardocarvp  and thanks for the quick reply.

Yes, I considered it would make more sense to have Dropout after each Tabnet Step, for example, immediately after the ReLU activation. The other simpler option is to have Dropout after summing the Tabnet Steps just before the FC layer. To me, maybe it makes more sense to put it after each Tabnet Step immediately after the ReLU. Do you agree?
Also,

[2021-05-05 10:04] Optimox commented on #290
@csetraynor I think I tried adding dropout (which is not in the original paper) a long time ago.

I think it could be added very easily but I was worried at the time that dropout would be in conflict with the attention mechanism.
I'm not sure where it's best suited to use dropout (directly with input features? only for hidden predictions layers? also for attention layers?).

Have you tried some of

[2021-05-05 10:06] #285 closed

[2021-05-06 21:50] csetraynor commented on #290
@Optimox thanks for your reply.
- I realised why the feature/add-dropout branch wasn't working for me! I forgot to modify the imports in tabnet_model to the name I gave to the folder of this branch but the feature is actually working so this thread may be closed if you feel fit.
- My goal is more obtaining some uncertainty in my predictions rather than improving performance, though improving perfo